[2012-07-26 07:17] bebraw opened #1 "Support Python3"
See https://gist.github.com/1360404 .

[2012-10-11 16:25] anentropic opened #2 "Bad test file generated from spec during setup"
[code]

the `test_pypandoc.py` file that has been generated looks a bit mangled:

[code]

More generally, can you tell me what package is turning the .spec file into the test_X.py ?  I've never seen a .spec file before

[2012-10-14 19:22] #2 closed, assigned to nobody

[2013-05-27 19:48] esc opened #3 "converting string does not work as advertised"
[code]

[2013-05-28 14:57] #3 closed, assigned to nobody

[2013-06-22 20:16] ErunamoJAZZ opened #5 "html5 and new formats"
Pls, update the input/output formats for Pandoc 1.11.1.

[code]

[2013-06-26 08:01] #5 closed, assigned to nobody

[2013-10-12 04:12] #1 closed, assigned to nobody

[2014-03-19 04:53] machow opened #10 "Decode as utf-8"
Since pypandoc uses utf-8 encoding but not decoding, it throws an error if there is utf-8 in the output. For example,

[code]

pandoc uses [utf-8 for both encoding as well as decoding](http://johnmacfarlane.net/pandoc/README.html#using-pandoc), so fixing this should be pretty quick. I'll dig around a bit..!

[2014-03-19 08:20] #10 closed, assigned to nobody

[2014-11-28 19:49] msabramo opened #14 "Add more info to PyPI page"
A little ironic that pypandoc of all things has a nice `README.md` on GitHub, but doesn't have a great PyPI page? :)

Can you make the `setup.py` use pypandoc itself to convert Markdown to reST?

[2014-11-30 13:18] #14 closed, assigned to nobody

[2014-12-23 05:16] msabramo opened #16 "Idea: Create wheels bundled with pandoc"
I think the one tricky thing about this module is that it relies on having pandoc installed and that's not Python.

I wonder if you can create wheels on OS X and Linux that bundle a pre-built pandoc binary. You'd have to check with John MacFarlane to see if he's ok with this, but I think it will meet the license (GPL) as long as you include a notice with a link to the source code.

I mention OS X

[2015-01-31 17:33] bebraw opened #30 "Coordinate a release - 0.90"
* [ ] Add @msabramo's contributions to README
* [ ] Figure out what to with #9. @msabramo, I would appreciate your input here.

Am I missing something? I can't think of any other tasks.

[2015-02-01 18:25] msabramo commented on #30
I like the idea of renaming `services.py` and putting it in an `examples` folder. I think I would remove the Django File and just have it return the temporary file directly or a string. Dependency injection might be overkill.

[2015-02-01 18:29] msabramo commented on #30
I have an idea but I think it can wait until after 0.90.

Idea is to add option to use and/or fallback to http://docverter.com instead of local pandoc. This could be huge, because then you could possibly use pypandoc without having pandoc installed.

[2015-02-01 18:29] msabramo opened #34 "Add option to use Docverter"
I have an idea but I think it can wait until after 0.90.

Idea is to add option to use and/or fallback to http://docverter.com instead of local pandoc. This could be huge, because then you could possibly use pypandoc without having pandoc installed.

[2015-02-01 18:31] bebraw commented on #30
Ok, let's go with that then. I'll do the change for 0.90.

[2015-02-01 18:37] bebraw commented on #34
I wonder if it would make sense to set up a sibling project with the same API for that (`pydocverter` or something). Then you could do things like:

[code]

Or alternatively we can add some extra parameter to `convert` for that.

[2015-02-01 19:04] msabramo commented on #34
Interesting. I was thinking of it built into pypandoc, but this is an interesting idea. I'll have to let that float around in my head for a bit.

[2015-02-01 22:08] msabramo commented on #34
https://gist.github.com/yoavram/4356539
https://gist.github.com/wcaleb/5478130

[2015-02-01 22:20] msabramo commented on #34
I'm thinking a separate module for docverter makes sense. Then each one will be simpler. Maybe pypandoc could use the new module as an extra.

[2015-02-02 03:54] msabramo commented on #34
I have some code locally for a pydocverter module. I'll publish a bit later.

[2015-02-02 07:27] bebraw commented on #34
Ok, if you want we can add a mention about this sort of usage to the readme so people are aware of it. I can link to your module there.

[2015-02-02 07:30] msabramo commented on #34
https://github.com/msabramo/pydocverter

[2015-02-02 12:10] bebraw commented on #34
Nice! Let me know once it's at PyPI and I'll add a small example and mention to README (or you can do a PR if you want something specific).

[2015-02-03 12:19] #30 closed

[2015-02-04 00:58] msabramo commented on #34
Just uploaded it to PyPI: https://pypi.python.org/pypi/pydocverter

[2015-02-04 07:41] msabramo commented on #34
See https://github.com/bebraw/pypandoc/pull/35

[2015-02-04 07:49] bebraw commented on #34
Merged. I did a minor release (0.9.1) that contains the readme update. Thanks!

[2015-02-04 07:49] #34 closed

[2015-02-04 07:51] bebraw commented on #16
What do you want to do with this issue?

[2015-02-04 23:12] msabramo commented on #16
@bebraw: Take a look at https://github.com/bebraw/pypandoc/pull/37 -- hopefully you have a Mac to test it on.

Not sure how you do the same on Linux, but I suspect that it's possible.

[2015-02-26 16:25] bebraw opened #42 "Fix Linux tests of Travis"
@msabramo Any idea what would be a good way to resolve this? Now we're getting nasty failures. Example of a failure: https://travis-ci.org/bebraw/pypandoc/jobs/52296424 . Pandoc is giving `pandoc: Unknown reader: markdown+strikeout`.

Can we benefit from http://docs.travis-ci.com/user/build-configuration/#Installing-Packages-Using-apt ?

[2015-03-08 21:03] JanSchulz commented on #16
rstudio also bundles pandoc

[2015-03-08 21:11] JanSchulz opened #43 "can't convert to docx"
Using this to convert to docx does not work:

[code]

[2015-03-09 05:56] msabramo commented on #43
That's probably because pandoc doesn't support writing docx to stdout:

http://johnmacfarlane.net/pandoc/README.html#using-pandoc

We would need to have pandoc write output to a temp file instead of reading its stdout. Shouldn't be too hard. I'm sure @bebraw would appreciate a pull request.

[2015-03-09 06:00] bebraw commented on #43
Good catch @msabramo!

Yeah, a PR would be very welcome. :)

[2015-03-09 08:46] JanSchulz commented on #43
One problem I encountered is that a tempfile approach needs to either return nothing/ the filename or indicate what the encoding is (reading in a docx needs to be bytes not utf8 encoded string :-(

RStudio/rmarkdown/knitr handles that by only using files (e.g. it defines a proper output filename and uses `-o outfile.xxx` for all handling

[2015-03-09 10:18] bebraw commented on #43
@JanSchulz What if you gave the output target to `pypandoc` as a parameter (ie. `output="somepath/my.docx"`)? Then it could be passed to pandoc. Would that help?

[2015-03-09 11:14] JanSchulz commented on #43
So the logic would be

* if output: append "-o output" to comamndline and discard stdout and don't return anything
* if to in ["docx",...] and no outputfile: raise Exception

Sounds fine with me, I can do such a PR

[2015-03-09 12:00] bebraw commented on #43
@JanSchulz Sounds great! Besides that logic I expect that you

* Document the functionality at README
* Add yourself to contributors at README
* Write test cases for the logic

This will save both of our time in the review phase.

Thanks! :)

[2015-03-09 13:23] JanSchulz commented on #43
ok, on it.

[2015-03-09 15:44] JanSchulz commented on #43
@bebraw done, see #44

[2015-03-09 17:13] JanSchulz opened #45 "use newer pandoc"
See here for the problem: https://github.com/bebraw/pypandoc/pull/44#issuecomment-77880052
-> travis only installs 0.9, but pandoc > 0.10 is needed to support extensions

There are several possible ideas to fix this (apart from "build pandoc from source)
* use IPythons version (see their travis config: https://github.com/ipython/ipython/blob/master/.travis.yml -> this will break if IPYthon removes

[2015-03-09 17:17] bebraw commented on #45
I guess the gotcha with this is that it would make it difficult to test against multiple versions of Python.

The IPython solution seems most promising!

@msabramo Again, your input is valued. :)

[2015-03-09 17:19] JanSchulz commented on #16
the used builds for rstudio are here: https://s3.amazonaws.com/rstudio-buildtools/pandoc-1.13.1.zip (and probably other versions, as they are used in in travis builds: https://github.com/travis-ci/travis-build/pull/386/files#diff-5b7e1aa01f1c6f058df6e0b9e2486c62R370). They include linux, mac and windows versions...

Not sure if that is "nice", but:

[code]

And in the code then add something, whic

[2015-03-09 17:27] JanSchulz commented on #45
I've a PR incoming which uses the IPython version.

Re R language: you would have to do all by hand, but I think it can work :-)

[2015-03-09 17:30] JanSchulz commented on #45
Yay, it worked :-) https://travis-ci.org/bebraw/pypandoc/jobs/53681285

[2015-03-09 17:32] JanSchulz commented on #42
Oups, this is now handled in #45 and fixed in PR #46

[2015-03-09 17:33] #45 closed

[2015-03-09 17:39] bebraw commented on #42
Yeah, safe to close.

I'll have a look at those failing Pyflakes cases.

[2015-03-09 17:39] #42 closed

[2015-03-09 17:39] bebraw commented on #43
Merged so closing.

[2015-03-09 17:39] #43 closed

[2015-03-09 20:49] msabramo commented on #42
Awesome! I would've suggested downloading a new pandoc and @JanSchulz did it, which is awesome!

[2015-03-10 06:01] xysmas opened #47 "pandoc-citeproc not recognized as an option"
I have a small script that uses pypandoc to put a file's current YAML frontmatter into the pandoc'ed output file (for jekyll).

The file works great until I attempt to add in a filter option:
[code]
produces:
[code]

fwiw, i have pandoc-citeproc installed and it works fine with the same options from the command line:

[code]

Produces:
[code]

Thoughts?

[2015-03-10 06:19] bebraw commented on #47
What if you had `--filter=pandoc-citeproc` instead of `--filter pandoc-citeproc`? I have a feeling it might need that.

You can see how it constructs the command [here](https://github.com/bebraw/pypandoc/blob/8e6e5e472fbf24e291784aa91919ad679298c510/pypandoc.py#L85).

If the suggested fix works, we could add perhaps an extra check against parameters like this and replace ` ` with `=`.

[2015-03-11 07:20] #47 closed

[2015-03-18 22:17] JanSchulz opened #49 "check returntype of pandoc"
[code]

[2015-03-20 09:55] bebraw commented on #49
Closed by #50.

[2015-03-20 09:55] #49 closed

[2015-04-13 21:12] JanSchulz opened #51 "Add a method to get the pandoc version"
In knitpy, I have the need to ensure that the used pandoc version is higher than 1.10  (and probably 1.12, similar to ipython nbconvert).

ipython has such a version check: https://github.com/jupyter/jupyter_nbconvert/blob/master/jupyter_nbconvert/utils/pandoc.py#L58, maybe that could be copied to pypandoc?

[2015-04-13 21:54] thatcher opened #52 "Adding support for pandoc 1.9.4"
I've been successful with pypandoc in several environments including windows and osx.  However in my production environment I'm stuck with Red Hat Enterprise 6 which only supports pandoc 1.9.4 from the official rpm repository.

I'm trying to make use of the great new project knitpy by @JanSchulz for dynamic reports (I have some background in R, but prefer Python though knitr is better for my appli

[2015-04-14 03:58] bebraw commented on #51
Yeah, feel free to make a PR for that.

[2015-04-14 04:03] bebraw commented on #52
What are the main differences between pandoc 1.9 and newer versions? Is the cli API different somehow?

In any case we can detect for the version and then provide some form of legacy API for 1.9 I think.

[2015-04-14 06:11] JanSchulz commented on #52
0.10 includes the big "markup+extension" work, so supporting something below that will likely include either a big warning that the extensions don't work or parsing the inputs themself to get the same output :-/

[2015-04-14 12:59] JanSchulz commented on #51
done in #53

[2015-04-14 20:56] thatcher commented on #52
I was able to get past this via precompiled binaries (normally not an option for me since our production environment is highly controlled).  Thanks for the feedback though and thanks for the project.

[2015-04-14 20:56] #52 closed

[2015-04-14 21:00] msabramo commented on #52
I wonder if you could've used Docker to get a working pypandoc with the pandoc bundled in?

https://registry.hub.docker.com/u/msabramo/pypandoc/

[2015-04-15 05:54] bebraw commented on #51
Merged. I published `0.9.7` with the feature in it.

[2015-04-15 05:54] #51 closed

[2015-04-17 16:00] pombreda commented on #16
:+1:  for vendoring pandoc binaries. I actually have code for a soon to be released library that does just that.

[2015-05-24 15:59] MissingNoIOI opened #54 "pypandoc fails with: ValueError: stat: path too long for Windows"
Hi,
I wrote a small script using pypandoc, by passing it a preformatted string, and it works like a charm on Linux, but when I tried it on Windows it fails with the following Traceback:

[code]

It seems that _read_file  tries to call os.path.exists() with the source to check if its a the path to a valid file or a string containing formatted text. While this works on *nix Systems, it fails on Wind

[2015-05-24 16:07] bebraw commented on #54
Yeah, I can see that fix would work here. Before doing that let's wait for a little more feedback. There are some guys in the know following. :+1:

[2015-05-27 05:00] xysmas commented on #54
There might be a more elegant workaround using something like the

    \\?\

[found here](https://msdn.microsoft.com/en-us/library/aa365247(v=vs.85).aspx#maxpath), but I admit, this is far out of my normal domain.

The easiest solution is to stop using windows.

[2015-05-27 13:51] MissingNoIOI commented on #54
I personally don't use it, but I uploaded the script to PyPi and thought it might be useful for it to work on all operating systems. And it was somwhow foreseeable that Windows is the only one making problems :/

[2015-05-27 14:29] #54 closed

[2015-05-27 15:13] bebraw opened #55 "Figure out why Travis yields `ValueError: 'Options:' is not in list`"
See https://travis-ci.org/bebraw/pypandoc/builds/64269432 .

Why would it fail to find `Options:` in Pandoc output? Any ideas?

cc @msabramo @xysmas

[2015-05-27 15:15] bebraw commented on #54
I applied the fix you proposed. It makes perfect sense on Windows.

Looks like our Travis build has gone broken, though. I think their infrastructure changed. Maybe that has something to do with it? See #55. Once that has been resolved I'll publish a new version.

In the meantime you can consider using standalone version of pypandoc as I have no idea how long it will take to resolve that.

[2015-05-29 21:30] voigt opened #56 "pandoc fails with "invalid argument (invalid character)""
Hey,

unfortunately pandoc seem to fail with the following string:

[code]

This is the error message:

[code]

I am using pandoc version `1.14.0.1` and pypandoc `0.9.7`. Interestingly the same script works with Ubuntu 14.04 (Python 2.7.5) like a charme, but fails with OSX 10.9.5 (Python 2.7.5).

I assume its some kind of encoding issue but have no idea how to fix this?

Kind regards,
Christoph

[2015-05-30 05:07] bebraw commented on #56
@voigt I can reproduce the issue on my system. It looks like Pandoc chokes on that entity. Demo:

[code]

**demo.md**

[code]

So it seems to me it's something pandoc related. Perhaps we should escalate the issue and ask the pandoc guys?

[2015-05-30 08:45] bebraw commented on #55
I got a little closer with this by installing Pandoc through a PPA. Still getting an error about `$HOME`. Details: https://travis-ci.org/bebraw/pypandoc/jobs/64681445 .

It looks like `pandoc-citeproc` cannot find that environment variable and Travis documentation explicitly states that you shouldn't depend on the value. I wonder what would be the right way to resolve this.

[2015-06-09 13:28] dlukes opened #57 "Converting from .docx / .odt"
Pandoc is also able to take e.g. a `.docx` / `.odt` file and output plain text / markdown / html etc., but pypandoc's current approach of first reading the input file in memory as plain text (`pypandoc.py#147`) and then piping the string to pandoc makes it impossible to take advantage of this (obviously since `.docx` / `.odt` is a compressed archive, not a plain text file).

Maybe this is by desig

[2015-06-09 13:41] bebraw commented on #57
I wouldn't mind getting this fixed.

Would it be possible for you to prepare a PR to fix the issue? I don't mind if the implementation gets changed (skips reading to memory initially). The code has grown organically and there are knots like that.

The test suite is somewhat extensive. Just make sure to add `.docx` / `.odt` case there.

Btw if you have any idea on how to work with Travis, please ch

[2015-06-09 13:43] dlukes commented on #57
OK, I'll see what I can do and get back to you!

I don't know much about Travis though, unfortunately...

[2015-06-09 13:58] bebraw commented on #57
No probs. :+1:

[2015-06-10 08:43] #57 closed

[2015-06-10 08:49] bebraw commented on #54
@MissingNoIOI FYI, I published `0.9.8` with this fix. Travis is broken but we can live with that.

[2015-07-04 09:47] gregist opened #59 "What is the syntax for converting to pdf?"
I have tried naively with `output = pypandoc.convert('paper.md', 'pdf')` which won't work.

[2015-07-04 09:59] bebraw commented on #59
@gregist Can you provide the native pandoc command that works for the conversion? That will give me a clearer idea of why it doesn't work.

[2015-07-04 10:54] gregist commented on #59
@bebraw This line works for me.

`os.system("pandoc " + "paper.md -o paper.pdf --latex-engine=xelatex)`

[2015-07-04 11:05] bebraw commented on #59
@gregist So in order to work it requires that `latex-engine` thinger? Is that the only way to get pdf output out of pandoc? If so, we can treat this as a special case or make something more generic and give access to those custom parameters of pandoc.

[2015-07-04 11:17] gregist commented on #59
@bebraw Yes, you need LaTex preinstalled in your system.
official document [here](http://pandoc.org/demo/example19/Creating-a-PDF.html).

[2015-07-04 11:24] bebraw commented on #59
@gregist Ok, got it. So it defaults to `pdflatex` unless engine is specified. What if I provided you `latexEngine` parameter? Then you could do something like this:

Would that work for you?

[2015-07-04 12:17] gregist commented on #59
Nope.

[code]

[2015-07-04 12:19] bebraw commented on #59
@gregist Yeah, I meant I can implement that parameter there unless someone comes up with a nicer API. :+1:

[2015-07-04 12:49] gregist commented on #59
@bebraw Well... that should work.

nice project btw.

[2015-07-04 13:02] bebraw commented on #59
@gregist Never mind... Looks like the functionality we need is already there. Try

I think that should be equivalent to what you wrote earlier.

There's so much functionality I forgot about that. :+1:

[2015-07-04 13:07] gregist commented on #59
[code]

[2015-07-04 13:37] #59 closed

[2015-07-04 13:38] bebraw commented on #59
@gregist I made it discard `--to` parameter for pdf and published `0.9.9`. That should fix it.

[2015-07-04 14:12] gregist commented on #59
@bebraw COOL. It works!

pypandoc won't recogonize some formatting argument though. e.g.
`output = pypandoc.convert('paper.md', 'pdf', outputfile='paper.pdf', extra_args=['-V geometry:margin=1.5cm'])`

No error coughed. Just that the formatting isn't right.

[2015-07-04 14:35] bebraw commented on #59
@gregist If you look at the current implementation `extra_args` are just passed to `subprocess.Popen`. Can you try against that or `os.system` so we get something to compare with again?

[2015-07-04 15:04] gregist commented on #59
@bebraw

the code:
[code]
the output:
* pypandoc
![](http://i.imgur.com/vgPrrSq.png)
* os.system
![](http://i.imgur.com/JIl8Mrx.png)

I don't know how to implement with `subprocess.Popen`, or you can pass me the code and I'd be happy to test it for you.

[2015-07-04 15:26] bebraw commented on #59
That's enough to debug. Thanks. I'll look into it.

[2015-07-04 15:50] bebraw commented on #59
@gregist Looks like it's very strict about parameters. The following works for me:

I'm not sure if this a bug in pypandoc itself or how to even start to fix it since it's so fundamental. There's probably a good reason why it works this way, though.

[2015-07-04 16:20] gregist commented on #59
@bebraw

can confirm. cheers!

Yes it's a little weird why seperated quotes work while otherwise does not. Maybe we should 'feature' this bug by including it in the documentations.

[2015-07-04 16:50] bebraw commented on #59
Sure. I'll add a brief note about it.

[2015-07-30 18:53] valholl opened #60 "Please add license text to the released tarball"
I've noticed that the tarball released on pypi is missing the LICENSE file, and while there are references to the MIT license, the only way to know the actual licensing terms is from the git repo.

Also, the code taken from IPython py3compat.py and encoding.py is marked as under the Modified BSD License, but the actual text of that license (plus copyright notice) is not repeated anywhere in the pa

[2015-08-01 05:21] bebraw commented on #60
Is it enough if I add `LICENSE` to `MANIFEST.in`? I don't mind accepting a PR for this. As far as I'm concerned the source is under MIT (a nominal thing really).

I barely develop Python these days so I'm pretty out of the loop with these things. :+1:

[2015-08-02 18:17] jumasheff opened #61 "extra_args=['--latex-engine=xelatex', '-V', 'mainfont="Font Name"'] doesn't work"
My conversion class looks like this:

class PandocPDFConverter(object):
    def generate_output(self, docx_file, **kwargs):
        extra_args = [
            '--latex-engine=xelatex',
            '-V',
            'mainfont="Noto Serif"'
        ]
        output = pypandoc.convert(docx_file,
                                  'pdf',
                                  outputfile='test.pdf',

[2015-08-02 18:33] bebraw commented on #61
Would you have time to debug this? I wonder what's up with that.

Fixed. Thanks for pointing this out.

[2015-08-04 16:09] jumasheff commented on #61
Cannot promise to investigate it in a week, but I'll definitely debug it in the following month.

[2015-08-04 16:10] bebraw commented on #61
Ok. Cool. :+1:

[2015-08-09 13:37] valholl opened #63 "Please add tests and examples to the released tarball"
It would be useful to have tests and examples in the released tarball, to be able to sanity check the module before using it (and as documentation): if you are ok with the idea I can prepare a pull request which adds the proper lines to MANIFEST.in.

[2015-08-09 13:38] #60 closed

[2015-08-09 13:38] bebraw commented on #63
Sure, sounds nice.

[2015-08-09 13:43] #63 closed

[2015-09-17 07:21] bebraw commented on #61
@jumasheff Any luck?

[2015-09-17 07:22] bebraw commented on #56
@voigt Did you have time to investigate this further?

[2015-09-17 08:52] jumasheff commented on #61
@juho I am a bit busy, sorry :(

--------------------
Best regards / Урматым менен / С уважением,
Murat Jumashev / Мурат Жумашев

2015-09-17 13:21 GMT+06:00 Juho Vepsäläinen <notifications@github.com>:

[2015-09-17 08:54] bebraw commented on #61
@jumasheff No worries. Thanks for getting back. :+1:

[2015-10-04 09:37] rossant opened #66 "JSON is not recognized as input format"
When converting a JSON document (pandoc AST) to Markdown, I get the following error:

[code]

It looks like the list contains `json*` whereas `format == 'json'`, so the test L122 fails

* OS X 10.10.5
* Python 3.4.3
* pypandoc 1.0.2
* pandoc 1.15.0.6

[2015-10-04 09:45] rossant commented on #66
The problem seems to be in this function which parses pandoc's output, with this particular version of pandoc:

[code]

and

[code]

[2015-10-04 10:06] bebraw commented on #66
Yeah, I can see `json*` and `pdf**` are problematic. We need to treat those in a special way. Just trimming out `*` would be enough.

Do you want to contribute a PR for this?

[2015-10-04 13:30] rossant commented on #66
Yep sure, I'm on it

[2015-10-04 14:17] #66 closed

[2015-10-04 14:24] rossant commented on #55
In another project I'm successfully testing pandoc on travis with this:

[code]

shall I try this here?

[2015-10-04 14:33] bebraw commented on #55
@rossant Sure! Maybe that's all we need. :+1:

[2015-10-04 17:20] bebraw commented on #55
Thanks to @rossant the build is slightly better. We tried disabling certain tests on Travis but for some reason, doing a little check like `if os.environ.get('CI', None):` just won't do the trick. I even tried to set `CI=1` explicitly in Travis config but no dice... Resolving this would give us a semi-decent build.

[2015-10-04 23:08] JanSchulz commented on #55
#69 should fix this issue.

[2015-10-05 06:11] #55 closed

[2015-10-05 22:45] JanSchulz commented on #16
So, should this happen on all wheel builds? I'm willing to give this a try... It seems that it needs a special treatment for all supported archs as rstudio doesn't ship newer versions than 1.13.

On windows:
* create `%temp_dir%` + `%temp_dir%\pandoc`
* use request or whatever to downlaod the latest pandoc version from pandocs download page to %temp_dir%
* `msiexec /a %temp_dir%\pandoc-1.15.0.6-wi

[2015-10-06 07:19] bebraw commented on #16
@msabramo Any thoughts?

[2015-10-06 07:27] JanSchulz commented on #16
Ok, the other way (and probably much easier): include it in the source repo ala https://github.com/bebraw/pypandoc/pull/37

[2015-10-14 05:14] posborne opened #70 "pypandoc install fails of pandoc isn't installed"
This is pretty easy to repro.  Just do the following in a virtualenv on a machine where pandoc is not installed:

[code]

I think errors related to pandoc not being installed should be deferred until execution time and should not prevent individuals from installing the library.  The particular use case where this is really impacting me currently is when trying to use setuptools-markdown (https://g

[2015-10-14 05:26] bebraw commented on #70
Alright. Do you want to do a PR? I don't mind merging the change and releasing a fixed version.

[2015-10-14 05:41] posborne commented on #70
Sure, I'll take a shot at it.

[2015-10-14 06:12] #70 closed

[2015-10-19 20:01] wcaleb opened #72 "Specifying path to pandoc"
Is there some way to specify the path to pandoc within a script? I am importing pypandoc into a Flask app that runs on an Apache server, and since the server runs as a special Apache user, the app can't seem to find pandoc even though it's installed in my own user path. I know [pyandoc](https://github.com/kennethreitz/pyandoc) had a way around this with a variable for the pandoc path, but can't te

[2015-10-19 20:16] JanSchulz commented on #72
As far as I know there isn't. Pandoc is expected to be on the PATH, so if you have any way to change that for your script it should be fine...

Having a way to specify the pandoc path would be a nice first strep to include the pandoc binary in a wheel...

[2015-10-20 05:40] bebraw commented on #72
PR is welcome. :+1:

[2015-10-20 11:56] JanSchulz commented on #16
See #73 for an idea how to build wheels with pandoc binaries included.

[2015-10-20 12:12] JanSchulz commented on #72
See #73 for a PR implementing this

[2015-10-22 08:45] #16 closed

[2015-10-22 08:45] #72 closed

[2015-10-22 13:39] wcaleb commented on #72
Thanks for working on this!

[2015-10-22 13:45] bebraw commented on #72
@wcaleb Just to clarify, it should work based on `PYPANDOC_PANDOC` now. Set that through env.

[2015-10-22 18:28] JanSchulz opened #75 "Enable travis builds on push?"
It seems that pushes to master will not result in an travis run.

@bebraw Would you mind going to https://travis-ci.org/bebraw/pypandoc/settings and enable `Build pushes`?

I would like to make a release so that I can supply wheels for macosx and windows (it seems that you can't upload wheels for linux) and build the conda packages for all three platforms.

My release checklist is
* make it (travi

[2015-10-22 18:43] bebraw commented on #75
It should be enabled. I'm not entirely sure why it wouldn't build on a push. See below:

![screenshot 2015-10-22 21 41 42](https://cloud.githubusercontent.com/assets/166921/10674837/c1bab1d0-7905-11e5-8dbe-a3499f455866.png)

If you want, I can try to force a build.

[2015-10-22 18:51] JanSchulz commented on #75
ok, my mistake. Seems that I should look at https://travis-ci.org/bebraw/pypandoc and not the small dot next to the the commit Ids.

Ok, lets do a release then...

[2015-10-22 18:57] bebraw commented on #75
@JanSchulz Do you want to do the honors? Just to make sure everything works fine. :)

[2015-10-22 19:01] JanSchulz commented on #75
I hope I got it all: The above missed a `python setup.py sdist; twine upload dist\pypandoc*1.1.1*.zip`.

Can you have a look if I messed something up?

[2015-10-22 19:04] bebraw commented on #75
Given tests pass I would say we're quite safe. Go ahead. I'm sure we'll hear if we managed to break something. :)

[2015-10-22 19:08] JanSchulz commented on #75
Hm, ok, the most basic case works:

[code]

:-)

Now lets see how the wheels and conda packages work out...

[2015-10-22 22:13] JanSchulz commented on #75
And the packages are getting in:

`pip install pypandoc` installs a wheel (at least on windows py27 64bit: https://pypi.python.org/pypi/pypandoc/ -> not all packages are build yet...)

and this works:

[code]

[2015-10-22 22:13] #75 closed

[2015-10-23 18:14] JanSchulz opened #78 "py35 wheel names are not platform specific..."
This due to the trick of overwriting the pure lib attribute doesn't work anymore as bdist_wheel doesn't use it anymore on 3.5...

I deleted the packages from PyPI so that they are hopefully not used yet... (if the users have a pandoc install, it doesn't matter..)

I've a patch (currentlx testing) and uploaded newly built py35 packages for win (funnily mac wasn't affected?). As we currently only ha

[2015-10-23 18:36] bebraw commented on #78
Alright. Do as you see the best.

I won't be online a lot during the next few days but I'll try to comment if something comes up. :)

[2015-10-23 18:57] #78 closed

[2015-10-25 11:43] nschloe opened #80 "native format fails"
This
[code]
gives this
[code]
This is with
[code]

[2015-10-25 11:45] nschloe opened #81 "latex not properly converted"
This
[code]
gives
[code]
when it should give
[code]
This is with
[code]

[2015-10-25 18:17] JanSchulz commented on #81
Not sure what's the problem here: if I use pandoc directly, I get this (test.md is `\"o{A}`

[code]

Just that we are on the same page: the above means that you try to translate from markdown to latex, not from latex to markdown:

[code]

This seems to be more in line with what you expected.

If that's not the problem, I unfortunately don't know latex escaping / umlauts rules (and markdowns) enoug

[2015-10-25 18:22] JanSchulz commented on #80
Do you have the formats backwards?

[code]

[2015-10-25 18:41] nschloe commented on #80
Absolutely. Thanks!

[2015-10-25 18:41] #80 closed

[2015-10-25 18:43] nschloe commented on #81
Got that mixed up. Thanks!

[2015-10-25 18:43] #81 closed

[2015-11-10 17:55] JanSchulz opened #83 "Make pandoc download a regular library function"
I think we should refactor the code, so that the downloader becomes part of the library (e.g `pypandoc.download_pandoc(to_path='.', url=None)` -> you can download to some specific location (`setup.py download_pandoc` would set that to `pypandoc/files`) and also update pandoc if a new release comes out) and the setup just calls it when building wheels. This would make it possible to download pandoc

[2015-11-21 08:46] JanSchulz opened #84 "Workaround to make the wheel platform specific"
See here: http://lucumr.pocoo.org/2014/1/27/python-on-wheels/

[code]

[2015-11-21 08:51] bebraw commented on #84
If you think it's a worthwhile change, please go ahead. :+1:

[2015-11-22 07:00] gamicklisafisher commented on #54
You should check out ‘Long Path Tool’ it will help you fix the issues.
I had faced similar issue and this tool helped me to resolve this issue.

[2015-12-02 11:51] nueverest opened #85 "*.rst Titles and Tables unrecognized by Sphinx or my reStructuredText editor"
When I convert any format to *.rst the titles created are not recognized by Sphinx or my reStructuredText editor.  This seems due to an extra blank line that is inserted between the title and the repeating `=`.

I am using this code:
[code]

HTML Input
[code]

Current reStructured Text Output
[code]

Desired reStructured Text Output
[code]

In the case of tables the output looks like this:
[code]

[2015-12-02 11:56] #85 closed

[2015-12-02 11:57] nueverest commented on #85
The issue seems to be on my side. Sorry.

[2015-12-02 13:52] bebraw commented on #85
No worries. :+1:

[2015-12-13 19:29] marbu opened #86 "pypandoc.convert() doesn't handle errors properly"
Function `pypandoc.convert()` doesn't handle errors properly.

When I call `pypandoc.convert(filepath, 'rst')` with filepath which doesn't
exists, I got puzzling exception `RuntimeError: Missing format!` insdead of
statement of actual root cause of the error.

Similar issue happen when an empty string or int is passed as a filepath.

## Reproducer

Here is simple reproducer:

[code]

When I run th

[2015-12-13 19:30] bebraw commented on #86
Great point. Do you want to PR?

[2015-12-13 19:49] marbu commented on #86
Oh, why not, I will try to suggest a fix in a pull request.

[2015-12-13 21:43] marbu commented on #86
@bebraw looking at the code, it seems that you check if `source` parameter matches some file in a filesystem and based on that, the variable is handled either as filepath or actual content. I don't think I can do a quick patch without breaking the api. Btw why is `_convert()` function wrapped like that? Whouldn't be easier and more readable to use the function directly?

[2015-12-14 03:04] JanSchulz commented on #86
IMO there are two possible solutions:

* introduce two additional functions `convert_file()` and `convert_string()` and soft-deprecate the old convert function.
* try to get a basedir of the input and if that exists (or simple check if it is file like: contains a path separator or ends in a known extension), raise an error "input appears to be a filepath but the actual file doe snot exist".

I'm a

[2015-12-14 07:27] bebraw commented on #86
:+1:

That's possible. Maybe it's some legacy bit that could be removed.

[2016-01-10 20:34] rossant opened #87 "Problem with parsing of format names"
There seems to be a minor parsing problem in `twiki` with `get_pandoc_formats()`:

`['commonmark', 'docbook', 'docx', 'epub', 'haddock', 'html', 'json', 'latex', 'markdown', 'markdown_github', 'markdown_mmd', 'markdown_phpextra', 'markdown_strict', 'mediawiki', 'native', 'odt', 'opml', 'org', 'rst', 't2t', 'textile', "twiki                 [ only Pandoc's JSON version of native AST]"]`

[2016-01-10 20:35] bebraw commented on #87
Yeah. It chokes on those brackets. Do you want to PR a fix?

[2016-01-14 16:49] #87 closed

[2016-01-14 16:49] bebraw commented on #86
We need to resolve this somehow. Does someone want to give it a go?

[2016-01-15 20:52] rossant commented on #87
thanks @bebraw you beat me to it!

[2016-01-15 21:12] JanSchulz opened #90 "Build on py3.5 fails"
[code]

Will probably be fixed by https://github.com/bebraw/pypandoc/issues/84

[2016-01-15 21:17] JanSchulz opened #91 "Update pandoc"
https://github.com/jgm/pandoc/releases -> pandoc 1.16.0.2 is current, we ship 1.15... Should probably be done after https://github.com/bebraw/pypandoc/issues/83

[2016-01-15 21:19] bebraw commented on #91
Ok, feel free to proceed with it as you see fit. :+1:

[2016-01-15 21:36] JanSchulz commented on #90
And windows as well:https://ci.appveyor.com/project/JanSchulz/package-builder/build/job/f0jb9l9j35ic6yq6

[code]

[2016-02-14 18:00] JanSchulz commented on #90
Windows is a packaging error... but the osx one should be fixed with the new workaround as part of #92

[2016-03-12 11:57] ssbarnea commented on #90
Still broken on Mac Python 3.5 (works with 2.7)
[code]

[2016-03-12 12:07] ssbarnea commented on #90
I was able to bypass this error by adding these requirements:
[code]

[2016-03-12 13:12] bebraw commented on #90
@JanSchulz Would those requirements work for you? Can you see any potential issues?

[2016-03-12 19:17] #90 closed

[2016-03-14 08:29] #83 closed

[2016-03-14 08:29] #84 closed

[2016-03-14 08:29] #91 closed

[2016-05-07 10:44] pafcu opened #94 "Incorrect path in appened to pandoc search_paths"
pypandoc attempts to search for /usr/bin/pandoc, but accidentally just adds /usr/bin to the search_paths in the _ensure_pandoc_path() function. The problematic line is https://github.com/bebraw/pypandoc/blob/master/pypandoc/__init__.py#L310.

This is only a big problem if /usr/bin is not in your PATH, but it does result in some diagnostic error messages being printed (since subprocess.Popen attemp

[2016-05-07 14:47] janschulz commented on #94
Thanks, fix is incoming...

[2016-05-07 16:34] #94 closed

[2016-05-07 22:21] janschulz commented on #86
This is now taken care of in #96

[2016-05-09 14:05] jankatins opened #97 "Make sure that the dir of the pandoc executable is in PATH"
We also install citeproc and there is a high probability that next to pandoc other filters are installed. So let's make sure that pandoc finds these.

If pandoc currently does not look into that dir: if we have a full path for pandoc (=Not in PATH), we should add that dir to the PATH as well before calling pandoc.

[2016-05-10 09:36] janschulz opened #98 "Do a beta release"
* [ ] adress https://github.com/bebraw/pypandoc/issues/97
* [ ] Add a changelog in chronological order to see what's changed between last version and now
* [ ] version and tag with a `0b0` suffix: http://python-packaging-user-guide.readthedocs.io/en/latest/distributing/#pre-release-versioning
* [ ] upload to pypi and conda package in my private repo
* [ ] write a short blogpost to be distributed v

[2016-05-15 01:32] gwgundersen commented on #72
I have an issue that is, I think, related to this. I have pandoc and pypandoc both installed, and everything works from the REPL. But when I try to execute pypandoc from my Flask application, I get a "No pandoc was found" error. How is `PYPANDOC_PANDOC` related to fixing this issue? Thanks.

[2016-05-15 12:41] gwgundersen commented on #72
For anyone else who finds this question searching for a solution, just set the environment variable at the Flask instance startup, e.g.:

[code]

[2016-05-15 12:42] bebraw commented on #72
@gwgundersen Maybe that's worth adding to the README?

[2016-05-15 13:01] gwgundersen commented on #72
Okay, see PR #99 for my attempt at explaining this.

[2016-06-15 08:48] zero323 opened #100 "Pandoc died with exitcode "9" during conversion: b'pandoc: Unknown writer: pdf"
To be honest I have no idea where exactly is the problem here.  I have following piece of code:

[code]

which works just fine when I run it with `python ex2.py --fmt pdf` and let it use completely meaningless `"pdf" if args.fmt == "pdf" else args.fmt` but fails otherwise with

[code]

Environment:

- Debian GNU/Linux
- Pandoc Version: 1.16.0.2~dfsg-1
- pypandoc==1.1.3
- Python  3.5.1, Python 2.7.

[2016-06-15 10:26] bebraw commented on #100
Yeah, sounds like something weird with our adaptation process. Looks like pandoc expects something extra for pdf these days so we probably should provide a separate parameter just for that. Then you could do `target="latex"` or whatever that `-t` maps to.

[2016-06-15 19:34] janschulz commented on #100
The problem is that `to is not 'pdf'` is the wrong test, it should be `to != 'pdf'`

[2016-06-15 19:39] janschulz commented on #100
I added the fix to https://github.com/bebraw/pypandoc/pull/96

[2016-06-15 19:48] zero323 commented on #100
@janschulz Thank you.

[2016-06-15 19:53] janschulz commented on #100
[code]

I think this works because python interns some strings: http://stackoverflow.com/questions/15541404/python-string-interning

[2016-06-15 19:56] janschulz commented on #100
The worse bug is actually this:

[code]

[2016-06-15 20:05] #86 closed

[2016-06-15 22:12] janschulz commented on #100
So, the PR is in #101

If you need a workaround, use

[code]

[2016-06-17 06:36] #100 closed

[2016-07-11 12:55] tkob opened #103 "Pypandoc can not be used if $HOME is not set"
Pandoc and any functions of pypandoc fail is $HOME environment variable is not set:

[code]

As the first line of the output, which comes from stderr, shows, `pandoc --version` tries to look up $HOME (to show default data directory) and fails because it is not set.

This is undesirable when pypandoc is used from a user with no $HOME, such as `apache` user.

A workaround is to use `os.putenv`, but

[2016-07-11 12:57] bebraw commented on #103
A `--data-dir` based PR would be welcome. Ideally the change should be backwards compatible.

[2016-07-12 15:32] janschulz commented on #103
Closed in #104

[2016-07-12 15:32] #103 closed

[2016-07-28 20:59] lorengordon opened #106 "No prebuilt wheels for v1.2.0 on pypi?"
Hello, was it intentional to stop publishing prebuilt wheels to pypi? Just wondering, because the instructions still say the wheel packages include pandoc for Windows and Mac OS X, but the wheels are not listed under the files section on pypi. https://pypi.python.org/pypi/pypandoc/1.2.0

When using the latest version 1.2.0 my builds/checks fail with the pandoc not found error...using download_pand

[2016-07-28 22:39] janschulz commented on #106
The problem is simply that I don't have a working package builder right now.

Apart from that, the new release makes it easier to download the required pandoc binary via an included API method. I tried to keep the language in the README as "neutral" as possible (e.g. if I get my package builder running again, I think it would be nice to build the wheels with pandoc binaries again). If you hve any

[2016-07-28 23:16] lorengordon commented on #106
Ahh, ok. I do think it is rather convenient to have pandoc in the wheels, especially when testing builds and packaging on Windows using appveyor. What were you using for your builds before? Can you point me towards what was, and now is not working?

[2016-07-29 10:30] janschulz commented on #106
https://github.com/janschulz/package-builder/tree/master/recipes/pypandoc

That repo builds conda packages and I hacked in the wheel building in the build scripts for the pypandoc conda package. But now the conda packages are build on conda-forge and not in my private channel). I could probably resurrect the pypandoc recipe and remove the rest...

If you are using conda (with the conda-forge chann

[2016-07-29 11:26] lorengordon commented on #106
Hmm, no, I haven't used conda. Does conda also push packages to pypi? If the pypi upload is already happening separately, perhaps the script building the wheel could be executed by travis ci, using the [`deploy`](https://docs.travis-ci.com/user/deployment/pypi) feature, when a version tag is pushed to the master branch?

[2016-07-29 11:44] janschulz commented on #106
no, not by itself. conda is an alternative package manager (nice because it uses precompiled packages, so you can install numpy without setting up a compiler first) and conda-forge has a infrastructure (or better scripts which let you build infrastructure) to build conda packages on CI services (Win, Mac, Linux). I just hacked in the wheel building and upload (via twine).

[2016-07-29 12:16] lorengordon commented on #106
Since you support download_pandoc in setup.py, it looks like something as simple as this might work, in .travis.yml?

[code]

[2016-07-30 13:29] valholl opened #107 "End-of-line differences in the released file"
Hello

In the released zip found on https://pypi.python.org/pypi/pypandoc a few files (including pypandoc/__init__.py and the README.md) have been converted to use dos-style line endings (\n\r) instead of the unix-style (\n) they used to have (and still have in the git repo).

While this doesn't break anything, IMHO it is somewhat ugly and it makes it a bit harder to compare files around.

Could y

[2016-07-31 10:41] janschulz commented on #107
Thats probably a screwup on my side, as I do the releases on windows and git probably checked them out with windows lineendings. I will try to fix that...

Just out of curiosity: what problems happen on your side? Do you compare release based on pypi files (and not git directly)?

[2016-08-04 07:44] bebraw commented on #56
Closing due to inactivity. Feel free to open again if you bump into it. Quite a bit has happened in the package since.

[2016-08-04 07:44] #56 closed

[2016-08-12 18:50] nueverest commented on #106
@lorengordon Did you try the .travis.yml change that you are suggesting?  I need to ensure support of Win and Mac users.  I too am still using 1.1.3 until a work-around is found.

[2016-08-12 19:07] lorengordon commented on #106
I have not yet. I was just figuring out a couple days ago how to incorporate the new `download_pandoc()` function in my projects to workaround it.

I suppose I could mirror this project, update travis.yml there, enable travis in my account, and try deploying to pypi under another name. Doubt I'll get to it for at least a couple weeks, but I'll report back here if it works.

[2016-08-12 19:12] bebraw commented on #106
@lorengordon I don't mind adding you as a contributor to the project if you want avoid mirroring. Maybe less hassle.

[2016-08-12 19:18] lorengordon commented on #106
Oh, it's no hassle. I just don't want to accidentally deploy a broken package to pypi under this project. I haven't really worked with travis's deploy feature yet, so I'd like to work separately while I figure out how it works. If I get it working, I'll be happy to submit the PR here. :)

[2016-08-12 19:20] bebraw commented on #106
Sure, that will work. :+1:

[2016-08-31 20:43] dufferzafar opened #108 "Support URL paths"
The [`_identify_path`](https://github.com/bebraw/pypandoc/blob/master/pypandoc/__init__.py#L143) function doesn't treat web URLs as path, but it should.

pandoc supports stuff like: `pandoc https://www.xyplorer.com/whatsnew.php -o "file.pdf"`

[2016-09-01 02:21] bebraw commented on #108
PR welcome. :+1:

[2016-09-02 19:56] janschulz commented on #108
@dufferzafar Do you expect to use URLs instead of filenames somewhere?

I would be more inclined to go for a `convert_url(...)` function in line with the new `convert_file` and `convert_text()` and a `_identify_url()` function (using `urllib.parse.urlparse(url)` and the py2 equivalent).

[2016-09-03 06:49] dufferzafar commented on #108
@janschulz Yes, I need to use it the URLs and that's how I found that pypandoc doesn't already handle it.

This is very true. After looking at pypandoc's code I felt like a better way for me would be to just create a new "thinner" wrapper over pandoc, that just calls pandoc with some params.

[2016-09-06 18:28] janschulz commented on #108
I would be open to a PR which adds such a `_identify_URL()` functions or modifies the current one to `_identify_file_or_url()`.

[2016-09-08 18:55] janschulz commented on #98
Closing as the changes in question are already in a release :-)

[2016-09-08 18:55] #98 closed

[2016-09-21 16:18] colmoneill opened #111 "passing variables to pypandoc?"
I'm writing a small script to take an input file from `argparse` for conversion and publication of .md files to git repos and two mediawikis. Super happy to find this wrapper but I'm running into an issue, and I can't work out if it's my bad python knowledge or pypandoc, here is where I'm at:

[code]
but when I run it, I get this response:
[code]
For which I can not fine a solution. Is it not poss

[2016-09-21 17:05] janschulz commented on #111
Covert_file expects a filename as input, and currently you pass in the filecontent. You either change your code to get a filename (an opened file like the parser currently returns does not work) from your parser or read in the file like now and use convert_text on your input.

[2016-09-22 16:15] colmoneill commented on #111
Hey, thanks that did it, thanks for your help and time!
Cheers!

[2016-09-22 16:15] #111 closed

[2016-10-27 16:52] TomAugspurger opened #112 "Pandoc 1.18 compatibility"
Looks like the first change [here](http://pandoc.org/releases.html) broke some things for pypandoc.

Without looking at anything other than the error message, it looks like before you were parsing the output of `pandoc --version` to get the list of input and output formats. Now you should just be able to parse `pandoc --list-input-formats`, likewise for output.

[2016-10-27 16:53] bebraw commented on #112
Yeah, PR would be welcome. Ideally it should try to parse from `--list-input-formats` and if that fails, from `--version`.

[2016-10-29 18:39] janschulz commented on #112
Please see https://github.com/bebraw/pypandoc/pull/113 for a fix

[2016-10-29 19:05] #112 closed

[2016-10-29 21:24] janschulz commented on #108
@dufferzafar Can you test my implementation in  https://github.com/bebraw/pypandoc/pull/115 ?

[2016-10-30 20:23] janschulz opened #118 "Enable appveyor on PRs"
@bebraw It seems that you have to enable that in the github repo: http://help.appveyor.com/discussions/questions/203-auto-run-tests-on-pull-requests#comment_33212404 Unfortunately, I don't have access to this config options.could you enable this?

FYI: appveyor currently runs under my account (which seems to ok: in contrast to travis, the appveyor build is not paired with the github repo, but with

[2016-10-30 20:25] #108 closed

[2016-10-30 20:48] janschulz opened #119 "Fix problem with uploads for multiple py3 files on appveyor"
https://ci.appveyor.com/project/JanSchulz/pypandoc-apo32/build/1.0.29/job/lwftccqdyuh7n6qd
-> we only upload one py2 and one py3 file, so we fail on the two more py3 builds

[2016-10-30 20:49] janschulz opened #120 "fix sdist which contains pandoc itself..."

[2016-10-30 21:04] janschulz commented on #107
This should be fixed by the new "upload from travis" functionality... in 1.3.1...

[2016-10-30 21:07] #119 closed

[2016-10-30 21:07] #120 closed

[2016-10-30 23:36] bebraw commented on #118
I enabled AppVeyor on the project.

Would it be easier if we moved pypandoc behind your account? That would feel justified. I don't mind remaining as a collaborator. 👍

[2016-11-05 13:02] valholl opened #122 "Failure when converting unicode data on a non-unicode locale (python3)"
to reproduce:

[code]

results in:

[code]

Apparently the failure is in `_identify_path(source)` where source gets encoded to utf-8 while looking for a local file, but urlparse tries to decode it.

The attached patch fixes the issue by not saving the encoded data into `source` but only encoding it temporarly, and does not break any other test (I've checked both with the C locale and an utf-8 one)

[2016-11-05 13:07] valholl commented on #122
Forgot to mention: this happens under linux, I don't know how to change locale to reproduce the issue in other OSs

[2016-11-05 19:20] janschulz commented on #122
Yes, a PR would be wonderfull!

[2016-11-05 19:22] janschulz commented on #107
ok, great :-)

Thanks for packaging it for debian!

[2016-11-05 19:37] janschulz opened #123 "allow file: based URLs after next pandoc version"
Pandoc added file based URls in https://github.com/jgm/pandoc/commit/7db4dd46dc2fba2cb3ec2a6c3191c3147b2b215f

Also remove the md file which was erroneously commited in https://github.com/bebraw/pypandoc/pull/115 :-(

[2016-11-28 17:49] opoplawski opened #124 "Tests fail with pandoc 1.12.3"
Run pypandoc 1.3.3 tests on EL7 with pandoc 1.12.3 fails with:
[code]
It looks like pandoc is converting the to filename to lowercase.  I'm not really sure there is much to be done here or if this old version can be supported.  It does not appear to be possible to influence the names used by NamedTemporaryFile.

[2016-11-28 19:36] janschulz commented on #124
This seems to be the costume writer functionality which was added in  https://github.com/bebraw/pypandoc/pull/109

My guess is that a newer pandoc version is required to use that. Maybe @snay can help here?

[2016-11-29 06:15] snay commented on #124
Custom writers were introduced in 1.12. I've tested different configurations and it seems strange to me. CentOS 7 + Python 2.7.x + Pandoc 1.12.3/1.12.3.1 - i can reproduce the error, with the same configuration and Py3 - can not, all works fine.
Pandoc 1.12.3 + MacOS + both major versions of python - all is fine.
For me, it looks like something OS-dependent changed inside Pandoc between 1.12.x and

[2016-11-29 06:22] bebraw commented on #124
Could this be an upstream bug? Is it worth reporting to pandoc to see what they say?

[2016-11-29 13:00] snay commented on #124
@bebraw Looks like i've found it.
https://github.com/jgm/pandoc/issues/1267

[2016-11-29 16:27] opoplawski commented on #124
Unfortunately it looks like it will take some work to update pandoc to 1.12.4 in EPEL7 - see https://bugzilla.redhat.com/show_bug.cgi?id=1399334

[2016-11-29 16:57] bebraw commented on #124
What do you want to do with this issue? Maybe one option would be to do a version specific monkey patch. Not pretty but if it works, I think we could accept a PR.

[2016-11-29 20:15] janschulz commented on #124
Isn't it the easiest just to skip the Test (and maybe warn / Error when using the functionality) when pandoc is too old?

[2016-11-29 23:37] opoplawski commented on #124
Yeah, that's what I've done now in the Fedora package.  I'm leaving this open in case you want to handle this automatically upstream somehow.  Otherwise, feel free to close.  Thank you for all of the help.

[2016-11-30 17:04] janschulz commented on #124
@opoplawski: Could you send the patch as a PR?

[2016-12-29 00:12] zachriggle opened #125 "pandoc_download should check architecture"
The code for `pandoc_download` does not check the current architecture.

This means that you can run `pandoc_download` on e.g. a Raspberry Pi, and it'll download the `amd64` distribution of Pandoc, and attempt to install it.

This ends up throwing a non-descriptive `RuntimeError` somewhere along the way.

Pandoc should check the current architecture in `pandoc_download`, and throw an exception (or

[2017-01-16 03:30] ickc commented on #125
Some comments on this issue (not an expert here, so what I said might not make sense):

- the `pandoc_urls` format shouldn't need to be changed, because there's not other alternative `.deb` binaries provided so far, and it seems to me there's no plan to provide them in the future.

- to get the architecture, <http://stackoverflow.com/a/7171315> seems to help. But I don't have non-amd64 linux machi

[2017-01-16 03:42] ickc commented on #125
Additional comment: I can see there's a need to check a matching architecture — before download rather than getting `RuntimeError` when trying installing — to avoid unnecessary download.

But the checking can be hardcoded rather then adding into the dict, for the same reason said above that there seems no plan for pandoc to provide binaries for other Linux architecture.

[2017-01-22 01:43] ickc commented on #106
I wonder if a service like [pandoc-extras/pandoc-portable](https://github.com/pandoc-extras/pandoc-portable) would help embedding the binaries. Basically it provides a portable version, that upon unzip you can grab the `pandoc` and `pandoc-citeproc` executables.

I didn't finalize the folder structure yet, and [`@jgm` seems to be hesitant](https://github.com/jgm/pandoc/issues/3317#issuecomment-272

[2017-04-22 11:46] #118 closed

[2017-04-22 11:49] janschulz commented on #106
To get this working, we would need to add macosx tests via travis. I haven't yet looked deeply how to convert the travis setup to run builds on both linux and macosx, but it should be possible. If not, there is always a Circle CI which could take over the linux/source builds.

[2017-04-22 12:02] janschulz commented on #125
Currently pypandoc only download what is available in the official pandoc releases. As long as they do not have binaries for somethign else than linux-amd64, we can't add other architectures.

One could add a check for the right archtecture so that it fails earlier, but thats the best we can do right now without building pandoc itself or getting other channels to download it from :-(

[code]

[2017-04-22 19:26] ickc commented on #106
I have a quick skim on the travis setup in pypandoc, it seems that it is doable on Travis' osx build. e.g. see [Testing Your Project on Multiple Operating Systems - Travis CI](https://docs.travis-ci.com/user/multi-os/#Python-example-(unsupported-languages%29) on how they splits the tox over different builds.

From my experience, it seems the most tedious part is to get the LaTeX build environment

[2017-04-23 15:51] felixonmars opened #132 "Test failure with texlive 2016.43757"
[code]

[2017-04-23 17:47] janschulz commented on #132
@felixonmars Can you give a bit more background (OS + what packages)? I've actually no clue how to reproduce. I've only access to a debian system.

Somehow the error message indicates that a certain font is missing.

[2017-04-23 17:54] felixonmars commented on #132
It is on latest Arch Linux with texlive-core 2016.43757-1 installed.

The following file is present:
/usr/share/texmf-dist/fonts/tfm/public/lm/ec-lmr10.tfm

[2017-04-24 22:25] nueverest commented on #106
On Windows the following works for me. Since 1.1.3 will install pandoc I install that version first.  Then I upgrade pypandoc.  It is a bit of a hack.

[code]

[2017-04-24 23:14] janschulz commented on #106
@nueverest Note that there is now a "API" way to install pandoc after installign pypandoc: `pypandoc.download_pandoc()` will usually do the right thing and make pandoc available to pypandoc...

[2017-05-06 21:56] xoviat opened #133 "wheel?"
What happened to the wheels on pypi?

[2017-05-06 21:57] #133 closed

[2017-05-10 05:54] sameersingh7 opened #134 "pandoc_download leaves installer at working directory"
The code does not remove the file from working directory.

So if code is run by Travis CI, the installer may get committed as well in the repository.
It should make sure that file is removed from the working directory after the run.

[2017-05-10 05:56] sameersingh7 commented on #134
I'd like to work on this.

[2017-05-14 19:33] matejzero opened #136 "Converting text that starts with URL fails"
I'm converting some text from textile to markdown and I have a case, where text begins with an URL and text follows.

Example:
[code]

This fails with:
[code]

Looking at the code, I think the problem is `_identify_path`function (https://github.com/bebraw/pypandoc/blob/master/pypandoc/__init__.py#L159).

We should somehow check if the URL is really an URL, but I have no idea how to make that clean

[2017-05-16 20:57] janschulz commented on #136
That looks like exactly the use case why we added `pandoc.convert_text(...)`.

[code]

[2017-05-16 21:10] janschulz commented on #134
Do you have an example where this is happening?

The current sdist on pypi is fine: https://pypi.python.org/pypi/pypandoc

[2017-05-17 05:24] matejzero commented on #136
Oooo I'm sorry, I totally missed that.

Thanks.

[2017-05-17 05:24] #136 closed

[2017-05-17 15:20] sameersingh7 commented on #134
"Now, pypandoc leaves the installer in the current working directory after download, which is fine locally, but creates a problem when run on remote systems like Travis. The installer could get committed accidently to the repository. To solve this, I had to take a look at source code for pypandoc and call an internal method, which pypandoc basically uses to set the name of the installer. I use tha

[2017-05-21 06:35] pri22296 opened #140 "Feature Request : Quiet mode for download_pandoc"
It would be nice, If `download_pandoc` provides a way to control whether logs are printed or not.

[2017-05-21 10:13] janschulz commented on #140
Hi, what is you usecase here?

[2017-05-21 10:17] janschulz commented on #140
This could be used: http://stackoverflow.com/a/12503246/1380673

[2017-05-21 10:58] pri22296 commented on #140
@janschulz Thanks for the response. Yeah that should work. So should this issue be closed?

[2017-05-21 11:03] pri22296 commented on #140
@janschulz I needed to suppress the output of download_pandoc as i was trying to implement a quiet mode
for my own script.

[2017-05-21 13:19] janschulz commented on #140
So, only the prints? My guess is that teh extraction will also output something.

Anyway: I wouldn't mind a "quiet" keyword, if someone sends a PR.

[2017-06-14 18:46] pri22296 opened #142 "Error on download_pandoc"
Error occured when deploying an application to heroku. The application calls `pypandoc.download_pandoc` to install pandoc.

# Logs
[code]

`# Python version: 2.7.13 (CPython)`
[code]

[2017-07-02 17:47] adoussot commented on #132
I have the same error using pandoc cli (not pypandoc) on manjaro Arch Linux with texlive-latexextra 2016.43768-1 installed

[2017-07-02 18:38] janschulz commented on #132
Sorry, I've no real clue what is happening here. The tests do not much, just some markdown headlines / paragraphs to other formats. So my guess is, that pandoc seems to require a certain font/latex package which seems to be not in Arch linux texlive package/dependency chain.

My guess is that, that it would also happen with a simple `echo "# Headline"  | pandoc ...`. If that's so, it would be nice

[2017-07-03 16:43] felixonmars commented on #132
Thanks for the info. It does look like a packaging issue for me. For example, it always works if I simply reinstall the texlive-core package (but not after a fresh installation in a clean chroot).

[2017-08-02 04:34] vvasuki opened #143 "Markdown (md) to rst reStructuredText conversion : bad list formatting"
# sublists flattened when 2 space indentation is used

Sample code:
[code]
Result:
[code]
# Newline wrongly required before beginning of list
[code]
Result:
[code]

# Severity
This is a particularly significant bug because pypandoc is a popular way of converting md files into rst while publishing to pip. For example, [this well formatted md file](https://github.com/sanskrit-coders/sanskrit_data/bl

[2017-08-02 11:43] janschulz commented on #143
AS we basically only take what pandoc offers, my guess is that this is an issue with pandoc itself. This looks like an issue which might fit: https://github.com/jgm/pandoc/issues/200 Can you have a look if it's that?

[2017-08-02 14:15] vvasuki commented on #143
Ah, https://github.com/jgm/pandoc/issues/3511 seems like the right place to purusue a solution, thanks!

[2017-08-04 07:33] jkseppan commented on #132
A similar problem in Matplotlib can be worked around by running `updmap --cnffile /etc/texmf/web2c/updmap.cfg -sys` as root. This helps when the font is installed but is missing from the `pdftex.map` file, which seems to happen on Arch Linux for some reason.

[2017-08-09 00:31] vvasuki commented on #143
Hi @janschulz . Does https://github.com/jgm/pandoc/issues/3511#issuecomment-321115382 help fix the issue on your end?

[2017-08-09 13:34] janschulz commented on #143
I would like to not switch to a different default. You should be able to convert stuff by using the format, e.g. 'markdown+lists_without_preceding_blankline' instead of plain 'markdown'.

[2017-08-09 15:13] vvasuki commented on #143
Ah - I'd not seen the format argument. I suppose `markdown_github` will do the right things. That's reasonable - thanks!

[2017-08-09 15:13] #143 closed

[2017-08-10 05:18] fruch commented on #106
so no wheel support for win/osx anymore ? the README still says there are ?

[2017-08-23 19:47] #140 closed

[2017-08-24 19:32] janschulz commented on #134
#135 is merged, so closing... I need to do a release...

[2017-08-24 19:32] #134 closed

[2017-08-24 19:36] janschulz commented on #106
This might be a way to set up a autobuilder for wheels: https://github.com/joerick/cibuildwheel If someone wants to have a go at that, feel free to send PRs. I'm currently a bit swamped to do the CI dance for that :-/

[2017-08-31 14:37] DandyDeveloper opened #144 "`convert_file` errors with QXcbConnection: Could not connect to display"
I'm not sure whether this dependance is coming from Pandoc directly or wkhtmltopdf. This is a tornado app.

I have `wkhtmltopdf 0.12.2.4` and `pandoc 1.19.2.1`

This is the convert that is failing:
[code]

Exception:
[code]

I've tried running this with a display running `Xvfb :0 &` but its still failing. Any suggestions?

This seems more like a Pandoc problem though. Please close if you think thi

[2017-08-31 14:47] janschulz commented on #144
This is not pypandoc failing, but pandoc itself. The error message sounds like it is something qt related, not sure what in pandoc used QT :-(

My first ideas would be to try setting the DISPLAY env variable to something which has an xserver (e.g. `export DISPLAY=:0` or `os.environ['DISPLAY'] = ':0'`. The second I found in https://github.com/ariya/phantomjs/issues/14376 : `QT_QPA_PLATFORM=offscree

[2017-08-31 14:53] DandyDeveloper commented on #144
I actually think this is `wkhtmltopdf` 12.4 having the bug still. I'm trying to upgrade to 0.12.4

[2017-08-31 16:51] DandyDeveloper commented on #144
I'll leave this here for visibility if anyone has this problem in future.

You'll need to use the latest binaries from wkhtmltopdf here: https://unix.stackexchange.com/questions/192642/wkhtmltopdf-qxcbconnection-could-not-connect-to-display

I was using version 0.12.2. This is fixed in version 0.12.4.

[2017-08-31 16:51] #144 closed

[2017-08-31 19:18] janschulz commented on #144
Thanks for posting the solution!

[2017-10-31 09:00] juhtie01 opened #146 "Pypandoc fails to unpack pandoc deb file"
Looks like pypandoc 1.4 fails to unpack the latest pandoc deb file.

[code]

Instead of `data.tar.gz`, the deb file now includes a `data.tar.xz` file.

[2017-10-31 15:10] janschulz commented on #146
This commit has the needed code changes  https://github.com/conda-forge/pandoc-feedstock/commit/6e1dd08

[2017-11-06 21:20] maphew opened #147 "py 3.6 truncates output rst"
I'm not sure if this is a setuptools or pypandoc issue:

`python setup.py bdist_wheel` on this [setup.py][0] running from `Python 3.6.2 :: Anaconda, Inc.` on Windows 7 only the 1st line is captured to `{wheel}\{package}.dist-info\DESCRIPTION.rst`. On python 2.7.5 and 2.7.14 the full file is captured.

Pypandoc excerpt from the script:
[code]

When run in interactive console the whole file is in th

[2017-11-06 21:26] maphew commented on #147
Replicated on 2 machines, though both running Win7. Here's the output of each (.txt added so GitHub allows upload):

* [py36_DESCRIPTION.rst.txt](https://github.com/bebraw/pypandoc/files/1447848/py36_DESCRIPTION.rst.txt)
* [py27_DESCRIPTION.rst.txt](https://github.com/bebraw/pypandoc/files/1447849/py27_DESCRIPTION.rst.txt)

[2017-11-08 00:56] synap5e commented on #146
I use pypandoc as part of a CI script and was having this issue.

As a workaround I changed the line
`python -c "__import__('pypandoc').download_pandoc()"`
to
`python -c "__import__('pypandoc').download_pandoc(version='1.19.1')"`

[2018-02-15 07:39] keszybz commented on #124
FTR, with pandoc-1.19.1-3.fc27.x86_64, the only thing that fails is `test_basic_conversion_from_http_url`.

[2018-02-15 07:42] keszybz opened #149 "tests fail with"
[Another Fedora maintainer here]

I'm trying to build pypandoc with pandoc-2.0.6-1.fc28.x86_64, and unfortunately there are many test failures:
[code]
As I mentioned in #124, with pandoc-1.19.1-3.fc27.x86_64, the only thing that fails is `test_basic_conversion_from_http_url`.

Are there any plans to support pandoc 2?

[2018-02-19 07:43] alecthegeek opened #151 "Q: How to create a pypandoc reader?"
I have a loop that generates markdown for conversion by Pandoc.

Is there some way to create a reader so that I can keep writing to Pandoc until I exhaust my input data?

I wanted to save appending to a (possibly big) string -- that can be inefficient.

Thanks

[2018-02-19 17:32] jankatins commented on #151
Currently this is not possible. It might be possible, but it would basically mean that we have to refactor the whole thing.

It's much easier to use https://docs.python.org/2/library/stringio.html for this: simply write to the stringio writer and get the resulting string in the end and pass it to pypandoc. Is that enough for your case?

[2018-02-19 19:42] alecthegeek commented on #151
thanks

[2018-02-19 19:42] #151 closed

[2018-02-19 19:45] alecthegeek commented on #151
Or for Python3 https://docs.python.org/3/library/io.html#io.StringIO

[2018-02-22 19:36] starhh opened #152 "Pandoc died with exitcode "47""
Hi,
I am following the documentation to convert md file to pdf using below code, I am using python 3.6 on windows. I encounter below error to select a different --pdf-engine or install pdflatex\r\n'.

I do not want to install other dependency, Please assist. Thanks

output = pypandoc.convert(input, 'pdf', outputfile='paper.pdf', extra_args=['-V geometry:margin=1.5cm'])

Traceback (most recent call

[2018-02-22 21:14] starhh commented on #152
Also I tried with paramter --pdf-engine=xelatex'

output = pypandoc.convert(input, 'pdf', outputfile='paper.pdf', extra_args=['-V geometry:margin=1.5cm', '--pdf-engine=xelatex'])

https://pandoc.org/MANUAL.html#creating-a-pdf

[2018-03-25 07:25] arcivanov opened #153 "Failure to install on 2.7 due to Unicode in metadata"
[code]

[2018-04-05 03:46] mdourmousoglou opened #155 "Support pandoc v2 and --lua-filter"
Currently all filters passed to `convert_input` are explicitly assumed to be JSON filters ([line 280](https://github.com/bebraw/pypandoc/blob/6d5a0a667c93220e6837db71525e738eade525c5/pypandoc/__init__.py#L280)). Pandoc v2 accepts Lua filters with a new `--lua-filter` option but it won't accept a Lua filter passed just with `--filter` (or the other way around).

[2018-04-05 10:50] jankatins commented on #149
My guess is that most of teh failures are due to pandoc not accepting '#title' anymore but only '# title' (space between '#' and text). pandoc 2 should be supported by simply adding the new version in there, that was a sanity check which is now simply wrong :-(.

[2018-04-29 17:14] jankatins commented on #149
in #156 I've added some workarounds for the uppercase tempfile and also added a upstream bug in pandoc.

[2018-04-29 17:25] jankatins commented on #153
I tried to workaround in https://github.com/bebraw/pypandoc/pull/156

[2018-04-29 21:08] #149 closed

[2018-04-29 21:09] jankatins commented on #153
Can you test with the latest master?

[2018-04-29 21:12] jankatins commented on #147
This looks more like  setuptools/wheel problem than a pypandoc one? @machow did you find a workaround?

[2018-04-29 21:14] jankatins commented on #146
Fixed in #154

[2018-04-29 21:14] #146 closed

[2018-04-29 21:15] jankatins commented on #142
fixed in #154

[2018-04-29 21:25] jankatins commented on #124
This should be fixed/worked around by #156

[2018-04-29 21:25] #124 closed

[2018-04-29 21:26] jankatins commented on #132
@felixonmars This looks liek a arch problem. If you think pypandoc can do anything about this problem, please speak up and reopen the issue.

[2018-04-29 21:26] #132 closed

[2018-04-29 21:30] #142 closed

[2018-04-29 21:31] jankatins commented on #122
Closed by #139

[2018-04-29 21:31] #122 closed

[2018-05-20 12:41] cefn opened #159 "Dependency on pip breaks Debian"
Hi there,

Pypandoc brings in an updated pip into the --user site-packages as a dependency, breaking Debian, which relies on its own version of pip. Is a dependency on newer Pip really required by Pandoc? The cascade failure here is very unfortunate.

The result is that all future console invocations of pip on Debian look like...

[code]

Debian users are advised not to install pip separately, but

[2018-06-21 20:41] wfspotz opened #162 "How hard would it be to support pandoc-crossref?"
Pypandoc already provides the `pandoc-citeproc` filter automatically, so how hard would it be to support the `pandoc-crossref` filter in the same way?

[2018-07-13 20:58] felixonmars opened #163 "Test failures with pandoc 2.2.1"
[code]

[2018-09-14 09:51] slackline commented on #155
Is there scope for getting `pypandoc` to play ball with [`pandocfilters`](https://pypi.org/project/pandocfilters/)?  I know its not a Lua filter but if you're working with `pypandoc` in Python anyway.

[2018-10-05 02:53] dtrckd opened #165 "empty package with pip installation version 1.4"
Hi,
When installing pypandoc with pip (python 3.6), the current version (1.4) is installed but the package seems to be empty and no function can be called.

As a workaround, I reinstall the previous version with `pip install  pypandoc==1.3.3`  which makes the module usable.

[2018-11-20 21:34] NicklasTegner opened #167 "Add support for setting folder where pypandoc downloads installation files to"
Hi.
Would it be posible to be able to specify the path to where pypandoc downloads installation packages for pandoc.
Like where you can set "download_pandoc(targetfolder="path/to/custom/pandoc/folder")"
Installation pages are the files like "pandoc-2.4-windows-x86_64.msi", "pandoc-2.4-windows-x86_64.pkg" and such.

### Suggestion:
Extend the pypandoc.download_pandoc function to include an argument

[2019-01-10 15:10] TiemenSch opened #169 "Invalid escape sequences"
I get some invalid escape sequences while using pypandoc:

[code]

[2019-01-16 18:28] Peque opened #170 "Make a release with latest changes"
Interested in https://github.com/bebraw/pypandoc/issues/146 specially.

@jankatins friendly ping. :innocent:

[2019-01-22 06:56] kiwi0fruit opened #171 "Wrapper around pandoc should also be GPL"
There are no exceptions about that in Pandoc license and the way of linking doesn't matter (though the way of linking would have mattered if Pandoc was LGPL).

[2019-01-25 14:38] GeoSpark commented on #152
You need to separate the parameters, so:
`extra_args=['-V geometry:margin=1.5cm', '--pdf-engine=/usr/bin/xelatex']`
becomes:
`extra_args=['-V', 'geometry:margin=1.5cm', '--pdf-engine', '/usr/bin/xelatex']`

[2019-01-30 19:01] fralau opened #172 "Getting stderr of pandoc filter"
For debug reasons, it would be useful to get the stderr of filters run by pandoc (in panflute, there is a `debug` function for writing into stderr).
The `convert_file` or `convert_text` functions return the stdout, which is fine. What about the stderr? Would there be any way to catch it?

[2019-02-22 04:19] kiwi0fruit opened #173 "proposal: replace Pandoc downloading with py-pandoc dep"
[py-pandoc](https://github.com/kiwi0fruit/py-pandoc) consistently installs Pandoc in pip and conda.

I suggest replacing pypandoc downloading of Pandoc with py-pandoc dependency.

[2019-03-22 11:57] miweru opened #174 "installation fails on linux"
when unpacking the deb folder of pandoc in the temp file, the following error occurs:
`subprocess.CalledProcessError: Command '['tar', 'xzf', 'data.tar.gz']' returned non-zero exit status 2.
`
the newest pandoc file unpacks to a file data.tar.xz and "data.tar.gz" does not exist anymore.
When i change line 86 in "pandoc_download.py" from
`cmd = ["tar", "xzf", "data.tar.gz"]`
 to
`cmd = ["tar", "xJf

[2019-03-26 04:37] ketozhang opened #175 "How to get variables from YAML metadata of a Markdown file"
Let's say we have some YAML header in a markdown file like so

[code]
Is it possible with pypandoc to extract the "title" variable using pypandoc?

EDIT: There's two ideas I have in mind. One to parse YAML within "---" delimiters. The other begin [python-frontmatter](http://python-frontmatter.readthedocs.io).

[2019-03-26 08:34] jankatins commented on #175
This is basically pandoc territory, not pypandoc. It would be better to ask there.

[2019-03-26 08:53] ketozhang commented on #175
Well got it, thanks.

From the ability of pypandoc able to get a string from the converter it seems like it can do more. Otherwise the most simplest wrapper would just be a pythonic way to call pypandoc.

[2019-03-26 08:53] #175 closed

[2019-03-26 12:49] jankatins commented on #175
We currently do not touch the to be converted file in any way, so that would be new for us. Pandoc itself does something with the metadata: https://pandoc.org/MANUAL.html#extension-yaml_metadata_block

[2019-04-12 03:16] totyped opened #178 "Problem When Transcribing Greek HTML Letters to LaTex"
Hi !

I have described my problem[ here](https://stackoverflow.com/questions/55642183/problem-when-transcribing-greek-html-letters-to-latex/55642483#55642483) and I would be very pleased,  if anyone could help me fix this problem !

[2019-05-11 19:03] yurivict opened #179 "pypandoc-1.4 FreeBSD package fails in build: Pandoc died with exitcode "97" during conversion: b'Could not find data file"
See the log: http://beefy6.nyi.freebsd.org/data/120amd64-default/501212/logs/py36-pypandoc-1.4.log

This started happening after the update of some other package, I think.

[2019-05-16 19:50] mpjuers opened #180 "support for native divs/spans in `format` or `extra_args` argument?"
I have a small filter that takes care of formatting citations appropriately. Here is a snippet of html.

[code]

The `<span class="au-ref raw v1">\ref{286335}</span>` should be output as`\ref{286335}`

I'm trying to do the equivalent of
`pandoc -f html+raw_html-native_divs-native_spans --filter authorea_scripts/stripreftags.py  -s test/TestDocument/untitled.html -t latex`, which works as expected,

[2019-05-16 20:30] #180 closed

[2019-06-05 10:04] ecederstrand commented on #167
Isn't this what the `targetfolder` argument does? See https://github.com/bebraw/pypandoc/blob/master/pypandoc/pandoc_download.py#L152

[2019-06-05 11:25] NicklasMCHD commented on #167
@ecederstrand
this is not what targetfolder does, from the file itself:
* targetfolder: directory, where the binaries should be installed.

What that does, is set the path, where pandoc gets installed. What I'm asking for, is an option to set where the pandoc installers (ie pandoc-x.x.msi and the same for mac) gets downloaded to, before getting installed.

[2019-10-03 14:35] harinjoshi opened #183 "RuntimeError: Pandoc died with exitcode "64" during conversion: b'JSON parse error\r\n'"
[code]

how to resolve this error?please help me out

[2019-11-19 23:24] waschk commented on #171
Pypandoc isn't linked at all with Pandoc. It is a separate process.

https://www.gnu.org/licenses/old-licenses/gpl-2.0-faq.html#MereAggregation

[2019-11-20 07:29] kiwi0fruit commented on #171
Thanks! I'll close it then.

[2019-11-20 07:34] kiwi0fruit commented on #171
But at the same time I'm not completely convinced:

I guess getting Pandoc's AST may be considered as "internal data structures".

[2019-11-20 07:36] kiwi0fruit commented on #171
I doubt that it can be resolved without @jgm stating his opinion.

[2019-11-20 15:38] jgm commented on #171
The `pandoc-types` module that defines the AST is dual licensed, if that helps.

[2019-11-20 15:41] kiwi0fruit commented on #171
Thanks a lot! That's almost certainly helps.

[2019-11-20 15:41] #171 closed

[2019-12-12 16:08] sternenseemann commented on #170
Would be great to see this, as the last released version doesn't work with pandoc2 which currently [prevents NixOS from providing a working version of pypandoc](https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/python-modules/pypandoc/default.nix#L31).

[2020-01-23 13:56] abarrafo commented on #167
I fixed this in a branch,  but it seems this repo is locked down without instruction in the `Contribution` block on how to proceed. I am unable to push my branch and create a pull request.

I am running pypandoc in an AWS Lambda function that only permits file write access into the `/tmp` path requiring this implementation.

[2020-01-23 17:43] abarrafo commented on #167
Ok, I was able to fork https://github.com/abarrafo/pypandoc it and then create a PR. Looks like the project has some broken CI/CD stuff that needs attending to proceed with a merge here.

[2020-01-25 16:03] tirkarthi opened #185 "DeprecationWarning due to invalid escape sequences"
Using raw string or escaping the invalid ones will help.

[code]

[2020-03-06 11:22] NatalieThurlby opened #186 "`pdf-engine wkhtmltopdf is not compatible with output format pdf`"
I'm having the following problem:

I'm running:
[code]
And I get the error `pdf-engine wkhtmltopdf is not compatible with output format pdf`, even though wkhtml2pdf should be able to output to pdf and when I run pandoc in the terminal on the same file (`pandoc path/to/html_file.html -o pdf_file.pdf --pdf-engine wkhtmltopdf`), it works fine.

If I don't have the `'--to', 'pdf'` options in pypandoc,

[2020-03-08 11:23] richardbrinkman commented on #174
I see that the master branch has fixed the issue in commit 1515c60faf397248120507ee3519aa5fb4d1ea27. Is it possible to make a new release and upload it to PyPi? The latest release is almost 3 years old already.

[2020-04-11 20:12] mortenvp commented on #174
Would be great with a pypi release :) We're also affected by this issue.

[2020-04-12 22:32] #167 closed

[2020-04-12 23:29] jankatins commented on #185
Fix merged

[2020-04-12 23:29] #185 closed

[2020-04-12 23:31] jankatins commented on #183
This is a pandoc message, I would guess this is a json format error: does the json pass validation?

Closing because I guess the problem is not relevant anymore.

[2020-04-12 23:31] #183 closed

[2020-04-12 23:40] jankatins commented on #174
Fix has been merged.

Will tag a release when windows works again -> looks good so far...

[2020-04-12 23:40] #174 closed

[2020-04-12 23:40] jankatins commented on #169
Fix for this is merged

[2020-04-12 23:40] #169 closed

[2020-04-12 23:41] jankatins commented on #163
Fix is merged

[2020-04-12 23:41] #163 closed

[2020-04-12 23:42] jankatins commented on #153
No response, closing

[2020-04-12 23:42] #153 closed

[2020-04-12 23:43] jankatins commented on #106
https://pypi.org/project/py-pandoc/ seems to be a better way to handle this.

[2020-04-12 23:43] #106 closed

[2020-04-12 23:48] jankatins commented on #159
Prob not anymore. Will have a look what needs to change to get this removed...

[2020-04-12 23:51] jankatins commented on #172
Yes. We currently return stderr when the resturncode is non-zero:

[code]

Is that enough for your usecase. Please reopen if you have another requriement

[2020-04-12 23:51] #172 closed

[2020-04-12 23:52] jankatins commented on #178
This is a pandoc problem, we only use pandoc so cannot do anything here :-(

[2020-04-12 23:52] #178 closed

[2020-04-12 23:56] jankatins commented on #155
Feel free to write PR for this. As I don't use filters, I cannot really play with this :-/

[2020-04-13 00:02] jankatins commented on #186
No clue, this is the first time i hear abotu this engine :-(

You could edit __init__.py and add a `print(args)` in line 285 (before the line `p = subprocess.Popen(`) and then check what we do differently...

[2020-04-13 00:05] jankatins commented on #179
Does pandoc itself work? This looks more like a packaging bug in pandoc so it might nowadays be fixed?

[2020-04-13 00:08] jankatins commented on #165
The pypi files has everything in there as far as I understand these files.

I'm about to do a release, lets see if that still has the problem. If not, please reopen.

[2020-04-13 00:08] #165 closed

[2020-04-13 00:11] jankatins commented on #162
citeref is included with pandoc, crossref seems to be another package. So if you get it installed in the OS, you can simply pass it in as a filter.

`convert_text(...,filters=['pandoc-citeproc'])`

[2020-04-13 00:11] #162 closed

[2020-04-13 00:19] jankatins commented on #147
Replaced the conversion with plan MD as pypi now supports it.

[2020-04-13 00:19] #147 closed

[2020-04-13 00:44] jankatins commented on #170
1.5 is on pypi. Sorry for the long wait...

[2020-04-13 00:44] #170 closed

[2020-04-13 01:03] jankatins commented on #173
See https://github.com/bebraw/pypandoc/pull/188

I will still keep the download code, it seems a lot of people are using it, but I added a py-pandoc mention in our error message when no pandoc is found. A hard dependency seems to be overkill for most people...

[2020-04-13 01:03] jankatins commented on #159
See https://github.com/bebraw/pypandoc/pull/188

[2020-04-13 06:23] kiwi0fruit commented on #173
Removing wheels with pandoc sounds great.

[2020-04-18 22:42] cefn commented on #159
Thanks @jankatins for putting in the effort to tidy everything up!

[2020-04-18 22:42] #159 closed

[2020-04-23 07:44] juax335 opened #189 "Error when using pypandoc.download_pandoc() on windows"
Hey,

Thanks for `pypandoc` I have been using it for quite some while now ;). However, there is a tiny problem when using `pypandoc.download_pandoc()` on windows. The installer will be downloaded but cannot be executed due to a wrong path.

Steps to reproduce:

Create the following folder structure

	.
	├── app.py
	├── download_folder
	└── target_folder

Run

[code]

Run the following code snippet

[2020-04-23 18:46] Durgesh-Chalvadi opened #190 "RuntimeError: Pandoc died with exitcode "63" during conversion: b"couldn't parse docx file\n""
RuntimeError: Pandoc died with exitcode "63" during conversion: b"couldn't parse docx file\n"

[2020-04-23 18:48] Amazing-DataScience commented on #190
While converting docx file into html encountered this error

[2020-04-24 14:44] jankatins commented on #190
Sorry, this is a pandoc error, could you try running the conversion directly with pandoc and report the error to pandoc?

[2020-05-06 02:51] davendw49 opened #191 "convert large html to docx"
i try to convert a 200MB Html file with many images which are embedding in word in the form of  base64 code, but it works on linux without any errors but it has an exitcode 251 on windows with
![error](https://user-images.githubusercontent.com/32675226/81134347-08402580-8f87-11ea-835d-09ce6b25e40f.png)
my code is
![mycode](https://user-images.githubusercontent.com/32675226/81134446-5ead6400-8f87-1

[2020-05-06 16:01] jankatins commented on #191
Sorry, this is a pandoc error and we cannot do anything about that. Please report your error upstream.

My guess is that they will tell you to get more RAM in this case, 'MEM_COMMIT failed' looks liek a "out of memory" situation :-/

[2020-05-06 16:01] #191 closed

[2020-05-11 23:06] hotsoupisgood opened #192 "'--smart'/'-smart'/'+smart' argument does not work."
I'm using pandoc 2.3.1
I've tried:

`--smart `

and get this error:

[code]
I've also tried:
`+smart`
 and:
`-smart`
And get this error:
[code]

[2020-05-26 10:31] svyotov commented on #183
I also get the same error with this code `print(pypandoc.convert_text('{"b":"a"}',to="rst", format='json'))`
[code]

[2020-06-01 14:58] yosefabush opened #193 "get_pandoc_formats Missing jira format"
I'm trying to convert Html to Jira (description field wiki render style)
When i run get_pandoc_formats()[1]
Jira is missing, there is any solution for this?

[2020-06-23 19:49] jwidner commented on #193
It seems to work for me. I would make sure that you're using an up to date version of PyPandoc, or make sure that Jira is lowercase, i.e. jira.

I ran the following code on my machine to verify that it's working:
[code]

[2020-08-13 06:08] snan commented on #186
Hi Natalie, I had the same problem today but I figured it out: use `--to html` instead of `--to pdf` and then make sure your outputfile ends with the `.pdf` extension.

[2020-09-15 16:44] dmcguire81 opened #196 "Add a formal dependency on wheel for the download usecase"
Seeing #188, I thought maybe all of the `wheel` usage might be removed, but, since it looks like some of the dependency is being retained, please consider documenting that dependency, formally. The reason for this is that not all environments with `pip` will also have `wheel`, necessarily, with a stock `venv` environment on Python 3.7 as just one example. We currently have to proactively install `

[2020-09-18 21:42] n-st opened #197 "convert() fails with unclear error message when extra_args is a string instead of a list"
The README gives an example on how to use the `extra_args` argument:
[code]

One might, uhm, possibly, fail to notice that `extra_args` is given as a list.

When the same function is invoked with `extra_args` as a single string, it fails and produces a rather uninformative error message:
[code]

Would it be possible to catch the type mismatch early and raise a more informative error (e.g. a TypeEr

[2020-09-23 06:45] AbdealiJK opened #198 "Wheel dependency"
I was trying to use this library - but found that 'wheel' is a install dependency ?
Wasn't sure if that was valid or needed ? Shouldn't it be a setup-dependency ?

[2020-10-14 03:14] ayaka14732 opened #200 "download_pandoc is not working"
`download_pandoc` fails because there is no `pandoc-citeproc` in the package.

[code]

[2020-10-20 10:58] enricofer opened #201 "markdown tables are interpreted as text when converting with convert_text"
I'm getting an issue converting markdown containing tables.
If I use convert_text method using markdown string definition, tables are interpreted as text not as table
Otherwise if I write markdown string to file and convert it with convert_file method I get table objects as expected
Issue tested with odt output format

[code]
` pypandoc.convert_file('tab.md','odt',outputfile='tab_ok.odt')`

[tab.z

[2020-11-01 01:35] bhpayne commented on #190
Hello @Durgesh-Chalvadi -- I also encountered the problem you describe. To verify that the issue wasn't with the input, I verified the conversion process [using a web interface](https://pandoc.org/try/?text=%3D%3DLife%3D%3D%0AHe+was+born+in+London+on+19+July+1800%2C+a+son+of+%5B%5BJames+Millingen%5D%5D.+He+spent+his+early+years+in+%5B%5BCalais%5D%5D+and+%5B%5BParis%5D%5D%2C+and+was+sent+to+school+

[2020-11-10 15:25] c-forster opened #203 ""openBinaryFile: does not exist" error when attempting to use template with extra_args"
When I try to pass a template to `convert_text` I get the following error:

[code]

I can use the template without error if I call pandoc directly from the command line. I have tried using an absolute path, but without luck.

Using Python 3.7.4 in a virtual environment, with pypandoc 2.11.0.2.

[code]

[2020-11-17 18:38] scottj97 commented on #200
Just hit this same issue. The flow used to work, and it looks like pypandoc hasn't changed, so must be something in the pandoc release that broke this?

[2020-11-17 18:59] scottj97 commented on #200
`pandoc-citeproc` is no longer included with Pandoc releases. See [2.11 release notes](https://github.com/jgm/pandoc/releases/tag/2.11). Pypandoc will need some changes to accomodate this.

As a gross workaround, you can force pypandoc to install a specific version of pandoc.
[code]

Or if you're using `setup.py download_pandoc`, before running it use this sed command to add the version number:
[c

[2020-11-25 04:12] siraben opened #205 "test_unicode_input"
Nixpkgs contributor here. `pypandoc` builds and passes all tests up to `test_unicode_input`, what could be causing this?

[code]

[2020-12-18 20:57] jmorim opened #206 "Some pandoc options not working with extra_args"
E.g. `--template template.latex` and `--variable urlcolor=cyan`

mwe
[code]
returns
[code]

[2021-01-30 04:33] arpalani opened #207 "Install Pandoc inside Azure Function for Pypandoc"
I am using the package [pypandoc](https://pypi.org/project/pypandoc/) for converting DOC/DOCX files into HTML. This has a prerequisite of Pandoc being already installed. When both packages are installed using the `requirements.txt` file, it works locally. When I deploy it as an Azure Function, however, it always gives a "module not found" error. (pypandoc cannot find pandoc in the same path becaus

[2021-02-14 07:45] bebraw opened #208 "Important - Call for new maintainers"
Given I and Jan have moved on and we don't use pypandoc anymore but the package itself is still popular, we're looking new maintainers for it to merge the open PRs and keep an eye on the issues.

If you have interest in taking over the package, please ping me in this thread. We're happy to move the repository and provide necessary access for the CI and publishing process.

[2021-03-12 21:45] doersino commented on #206
I believe you need to split the extra arguments into a list of strings, i.e. `['--template', 'template.latex']`.

As the readme notes (in a different context, but it also applies for your use case):

[2021-03-12 21:49] doersino commented on #203
You need to split the extra arguments into a list of strings, i.e. `['--template', 'template.latex']`

As the readme notes (in a different context, but it also applies for your use case):

Notice that you've also omitted the two dashes, `--`, which is another reason your invocation didn't work.

[2021-03-12 21:54] doersino commented on #205
See #204 – recent versions of Pandoc emit ATX-style headings instead of underlining the heading texts with equals signs.

[2021-03-21 16:03] vissa1604 opened #209 "Executable not found for --citeproc while parsing the LaTeX to docx using pypandoc"
Hi folks,
I am trying to parse a LaTeX file to docx using pypandoc(a python third party package) and I got an exception stating "--citeproc: could not find executable"

It would be really great if someone can help me with a solution for this

Thanks in advance

[2021-03-21 19:35] vissa1604 opened #210 "Pypandoc died with code 65"
Hi folks,
when trying to parse LaTeX to docx I encountered the expection "pandoc died with 65" what could be issue with this can someone please guide me

Thanks in advance

[2021-03-29 12:07] sternenseemann opened #211 "pypandoc-citeproc has been deprecated"
`pypandoc-citeproc` has been deprecated by upstream in favor of the `pandoc --citeproc` option. We should switch to that for the test suite and the `filters` argument will probably also need to be redone or at least its documentation changed.

[2021-04-19 18:04] PhilippeDou opened #212 "can't use or load pandoc from .app generate by py2App on MacOs"
Dear,
When I use **pypandoc.get_pandoc_version()** function on MacOs Catalina, if I execute this code from .app generated by Py2App, I have an issue :
_<class 'OSError'> : No pandoc was found: either install pandoc and add it
to your PATH or or call pypandoc.download_pandoc(...) or
install pypandoc wheels with included pandoc._

I have add **pypandoc.download_pandoc()** before but I have this issu

[2021-04-26 20:26] gliptak commented on #211
Builds seem to be failing not finding `pandoc-citeproc` https://travis-ci.org/github/bebraw/pypandoc/jobs/768316665#L432

[2021-04-26 20:41] sternenseemann commented on #205
#204 fixes it indeed as it is the patch we apply in nixpkgs nowadays.

[2021-04-27 03:25] gliptak opened #216 "pandoc-*-arm64.deb breaks Debian auto download"
https://github.com/jgm/pandoc/releases/tag/2.13

https://travis-ci.org/github/bebraw/pypandoc/jobs/768518864#L425

[code]

[2021-05-28 05:01] ylz-at commented on #152
I am using downlaod_pandoc(), but there is no method provided to download pdf-engine.
`Pandoc died with exitcode "41" during conversion: pandoc: pdflatex not found. pdflatex is needed for pdf output.`

[2021-06-04 13:59] perrette opened #218 "specify order for filters and options"
Now that `pandoc-citeproc` filter has been deprecated, and that it is used as an option instead `--citeproc`, it is not possible to specify the order in which citeproc and other filters are executed.

I used to have:
[code]
which has become:
[code]

I lost the ability to call the citeproc filter after filter-A and before filter-B.
It is critical for my use case. Any idea how I could remediate to i

[2021-06-04 14:06] perrette commented on #218
Ok, I solved it by calling filters as `extra_args`:

[code]

[2021-06-04 14:06] #218 closed

[2021-06-30 12:47] NicklasTegner commented on #208
Hi everyone.

From today, I have gotten the honor to continue PyPandoc

Thanks so much to @bebraw  and Jan for their work on this!

I'll be taking a look at all the issues and prs in the next couple of days.

Looking forward to working with you all! :)

[2021-06-30 12:51] bebraw commented on #208
Great. Thanks for taking over. It's time to close this issue. 👍

[2021-06-30 12:51] #208 closed

[2021-06-30 21:32] NicklasTegner commented on #200
Hi there

this issue has been fixed, and will be out in [the next version, 1.6](https://github.com/NicklasTegner/pypandoc/milestone/1)

[2021-06-30 21:33] NicklasTegner commented on #216
Hi there

this issue has been fixed, and will be out in [the next version, 1.6](https://github.com/NicklasTegner/pypandoc/milestone/1)

[2021-06-30 21:39] #200 closed

[2021-06-30 21:39] #216 closed

[2021-06-30 21:43] NicklasTegner commented on #209
Hi there
The error should be resolved in the next release of PyPandoc, since citeproc isn't an executable anymore)

[2021-06-30 21:44] NicklasTegner commented on #211
Hi there.

This issue should be fixed now, and will be in the next release of PyPandoc [(version 1.6)](https://github.com/NicklasTegner/pypandoc/milestone/1)

[2021-06-30 21:44] #211 closed

[2021-06-30 21:45] NicklasTegner commented on #198
Hi there
I'll look into it, once I get the code a little cleaned up :)

[2021-06-30 21:52] NicklasTegner commented on #207
Hi there

If you know the installation path of pandoc, you can hard code it in with the following

``
os.environ.setdefault('PYPANDOC_PANDOC', "C:/full/path/to/pandoc/folder/")

`

[2021-07-01 01:56] NicklasTegner commented on #212
Hi.

This looks to be out of the scope of PyPandoc, you might find this link useful: https://www.dev2qa.com/how-to-fix-python-error-certificate-verify-failed-unable-to-get-local-issuer-certificate-in-mac-os/

Other than that, I would suggest googling the error.

[2021-07-01 01:56] #212 closed

[2021-07-01 01:57] #209 closed

[2021-07-01 01:58] NicklasTegner commented on #206
As the original author hasn't responded, I see this issue as resolved.
If not, feel free to open a new issue!

[2021-07-01 01:58] #206 closed

[2021-07-01 01:59] NicklasTegner commented on #203
As the original author hasn't responded, I see this issue as resolved.
If not, feel free to open a new issue!

[2021-07-01 01:59] #203 closed

[2021-07-01 02:00] NicklasTegner commented on #192
You need to set the format like so.

markdown+smart

For more information, check out Pandocs User Manual

[2021-07-01 02:02] NicklasTegner commented on #190
as @bhpayne pointed out, this is the only way to write some output formats.

As the original author hasn't responded, I see this issue as resolved.
If not, feel free to open a new issue!

[2021-07-01 02:02] #190 closed

[2021-07-01 02:04] NicklasTegner commented on #186
@snan solution seems to work, if there's need for us to modify the behavior, feel free to open an issue or submit a pr-

[2021-07-01 02:04] #186 closed

[2021-07-02 16:45] #189 closed

[2021-07-06 16:40] joetheone opened #224 "Changelog?"
Hello @NicklasTegner ,

Will you be making a release for version 1.6.3? I would love to see release notes somewhere before I update.

Thanks!

[2021-07-06 17:57] NicklasTegner commented on #224
hi @joetheone

Thanks for catching that.
I've now written some changelog entries, which you can find on the release [here](https://github.com/NicklasTegner/pypandoc/releases/tag/1.6.3)

I hope this was, what you had in mind.
Thanks for the issue :)

[2021-07-06 17:57] #224 closed

[2021-07-06 18:16] joetheone commented on #224
great thanks!

[2021-07-24 18:24] scottclowe commented on #97
At the moment, if you run `download_pandoc` or `ensure_pandoc_installed` with `targetfolder` manually specified to a directory not on the PATH, that directory is not added to the PATH. These means that calls to `convert_file` (etc) will fail.

I think `ensure_pandoc_installed` should add the `targetfolder` to PATH using `os.environ["PATH"]` if it isn't already on the PATH. Otherwise it hasn't actu

[2021-07-25 14:55] #97 closed

[2021-08-04 23:49] EorlBruder opened #226 "Make error message in RuntimeException readable"
When pandoc has an error, the output from pandoc gets put into the Runtime-Exception as bytes (directly from stderr).

For me this results in the whole error-message from pandoc being in one line (even though it should have linebreaks). Especially when using "--verbose" this gets very unreadable.

I've checked and by encoding stderr in the same way as stdout in https://github.com/NicklasTegner/pyp

[2021-08-05 03:07] #226 closed

[2021-08-12 17:55] yashasolutions opened #228 "image path - when converting from org mode to markdown"
Hi,

When converting orgmode from markdow, image path is converted into a local path for some reason.

Example

[code]

is becoming
[code]

instead of :
[code]

Any idea how to avoid this?

[2021-08-13 06:14] NicklasTegner commented on #228
Hi
The only option I can think of, is to set the "--extract-media=path" option.
Do let me know if that works.

[2021-08-16 06:07] lp20010415 opened #229 "Report'[WinError 5]'"
前天还是好好的，结果今天一用就这样了，不知道是不是因为cmder的原因QWQ。但是我把cmder卸载了，可能卸载的不彻底。希望能告知一个解决方法，感恩！
Translate:
It was good the day before yesterday. As a result, it's like this as soon as it's used today. I don't know if it's because of the cmder, qwq. But I uninstalled the cmder, which may not be completely uninstalled. I hope you can tell me a solution. Thank you!

Here is the error code:
![image](https://user-images.

[2021-08-16 06:09] lp20010415 commented on #229
![image](https://user-images.githubusercontent.com/56969920/129518606-265c7f9f-2e88-493b-90d2-f389f0f2c05a.png)

[2021-08-16 12:25] NicklasTegner commented on #229
It looks like it finds pandoc, but for some reason it can't use it because of an error.
I would suggest checking if the pandoc found is indeed set as being executable, as this is the only other time I've seen this issue.

Please let me know if that work :)

[2021-08-16 12:45] lp20010415 commented on #229
this?
![image](https://user-images.githubusercontent.com/56969920/129565789-2d4c1cc1-e085-49a8-8a68-f03036465ed4.png)

[2021-08-16 12:50] lp20010415 commented on #229
According to my research on the code, I think the problem lies in "subprocess. Open()"
look this
![image](https://user-images.githubusercontent.com/56969920/129566439-861bde13-9f5e-467a-ae92-70239ed7b2c5.png)
![image](https://user-images.githubusercontent.com/56969920/129566511-1a1d6da9-1e56-4ab9-931a-8f23c073dbe1.png)

[2021-08-16 12:56] lp20010415 commented on #229
然后，新建一个py文件，且模仿一个"subprocess.Popen()"，结果如下( 和上面一模一样)，所以我觉得问题出在"subprocess"
Translate:
As like as two peas, then create a new py file and imitate a "subprocess.Popen ()". The result is as follows (so the same as above), so I think the problem is "subprocess".
![image](https://user-images.githubusercontent.com/56969920/129567170-325b421e-6645-49e0-891e-8b52d67c38d5.png)

[2021-08-16 13:59] NicklasTegner commented on #229
Hi
[WinError 5] indicates a permissions error.
So either:

* You do not have permission to execute pandoc in that folder.
* Pandoc itself is not executable

[2021-08-16 14:10] lp20010415 commented on #229
那我应该怎么给予权限呢？或者说怎么判断它是否是可执行文件呢？
Translate:
How should I give permission? Or how to judge whether it is an executable file?

[2021-09-07 09:41] FrancisVila opened #230 "Backslash appears when converting <br> tag to markdown"
When converting from html to markdown, a &lt;br&gt; tag adds a backslash to the output.
[code]

looks like this:
[code]
(I also tried with &lt;br/&gt;, &lt;br&gt;&lt;/br&gt;)

[2021-09-07 13:48] NicklasTegner commented on #230
hi @FrancisVila

this is actually the correct behaviour and not something that pypandoc does.
To see how to change this behaviour check the [Pandoc User Guide](https://pandoc.org/MANUAL.html)

[2021-10-16 06:31] h5rdly opened #231 "Python 3.10 not mentioned as supported"
Hi,

Not really an issue, buta small quirk - the main/README page only shows python 2.7-3.8 as supported.
I was going to ask about Python 3.10 support/wheels, then decided to try pip first..

Could you perhaps update the readme to avoid confusion?

Thanks,
Eli

[2021-10-17 22:29] NicklasTegner commented on #231
hi @h5rdly
can you verify that PyPandoc works on Python 3.9 - 3.10?

[2021-10-22 08:46] vallabh1822 opened #232 "issue: in converting '.html' to '.epub'= no command to encode outputfile in utf-8"
output= pypandoc.convert_file('fileName.html', 'epub2', encoding='utf-8', outputfile='nine11.epub')
"error! nine11.epub is not utf-8 encoded"
there should be option like opening the 'outputfile' with 'utf-8' encoding
e.g. outputfile=open('nine11.epub', 'w', **encoding='utf-8'**) in aurgument

[2021-10-22 17:08] #232 closed, assigned to nobody

[2021-10-30 14:04] NicklasTegner opened #233 "Add sandbox mode by default when using Pandoc 2.15 and above"
Pandoc 2.15 introduced a sandbox mode with the --sanbox parameter. The announcement can be [found here](https://groups.google.com/g/pandoc-discuss/c/jLcCiODL1DI) but the most important for us is as follows:

  no IO besides reading from the files specified on the command line and
  writing the output.  This restriction is enforced by the type system.
  Anyone who uses pandoc to process untrusted d

[2021-11-13 00:55] lh6210 opened #234 "how to add pandoc extension"
Hi there,
Could I know whether there's a way to include some extensions in the configuration of pypandoc, please?

There are several pandoc extensions that I want to install, but I didn't find the description in pypandoc's instructions.
Here's the pandoc's extension pages ---    https://pandoc.org/MANUAL.html#extensions

Thanks a lot.

[2021-11-14 17:21] NicklasTegner commented on #234
hi there.

In pypandoc, you put all the extensions that you can enable or disable (with a - and +) after the to and from format.

so markdown+extension1-extension2 and so on.

Hope that helped, if not let me know :)

[2021-11-22 23:10] jayvdb commented on #205
This appears to have been fixed already.

[2021-11-23 01:31] jayvdb opened #239 "test_pdf_conversion fails on macos when pdflatex is missing"
When running on Python 3.9 , and without pdflatex installed (part of brew package mactex).

[code]

This is a overly complicated exception message that many users wont recognise as "I need to install pdflatex".
As it is possible to use alternative latex engines, it would be best to catch this error, detect "pdflatex" in the message, check for whether `pdflatex` is in the PATH, and provide a better

[2021-11-23 01:46] jayvdb opened #240 "test_convert_with_custom_writer unnecessarily skipped on macos"
temporary named files on macos appear to often contain uppercase, e.g.
[code]

The skip is helpfully described as caused by https://github.com/jgm/pandoc/issues/4610 , which has now been fixed, so the skip should be unnecessary, and it definitely is unnecessary for me on macos, py39 and py27

[2021-11-23 07:10] #240 closed

[2021-11-23 07:12] #234 closed

[2021-11-23 07:12] #230 closed

[2021-11-23 07:14] NicklasTegner commented on #229
Hi. This is beyond the scope of pypandoc and specific to your setup.
If you find a reproducible bug, feel free to reopen.

[2021-11-23 07:14] #229 closed

[2021-11-23 07:14] #228 closed

[2021-11-23 07:15] NicklasTegner commented on #210
Hi there. I don't know if you still have this issue.
If you still encounter this, feel free to reopen.

[2021-11-23 07:15] #210 closed

[2021-11-23 07:16] NicklasTegner commented on #207
Hi. Since I haven't heard anything, I'll mark this issue as closed.
If you still need help, or have found a bug, feel free to reopen or make a new issue :)

[2021-11-23 07:16] #207 closed

[2021-11-23 07:17] NicklasTegner commented on #205
This has indeed been fixed in our test cases, so I'll mark this issue as closed.
If you still encounter this issue, feel free to reopen.

[2021-11-23 07:17] #205 closed

[2021-11-23 07:20] NicklasTegner opened #242 "Use the new pyproject.toml format instead of setup.py and others"
Update the package to use the new pyproject.toml format, removing the need for all the metadata files and setup.py.
If this is done, it will make dependencies and metadata much easier to maintain and update for the future.
A way to do this, is to use Poetry to manage dependencies and pypi uploads.

[2021-11-23 07:25] NicklasTegner commented on #239
yes I agree.
In addition, I would guess that missing the other engines (if used) wouldalso yield just as complicated an error message, so maybe we should do that for all engines.

[2021-11-23 09:02] lp20010415 commented on #229
Sorry, I remeber I say solved it, but i don't my reply is gone

[2021-11-26 02:05] lh6210 commented on #234
That helps. Thanks!

[2021-12-14 09:44] elifbozalp opened #243 "convert from docbook xml extension file to md file"
Hi,

I can convert from docbook to markdown with xml file extension by using "pandoc -f docbook -t markdown -s howto.xml -o example31.text" command on pandoc.exe. (https://pandoc.org/demos.html)

But, when I try to convert with xml extension on this library, I get an error "Invalid input format!".

RuntimeError: Invalid input format! Got "xml" but expected one of these: biblatex, bibtex, commonmar

[2021-12-14 10:02] elifbozalp commented on #243
Hi

this code worked ;)

output = pypandoc.convert_file("appendixa.xml", to='md', format='docbook', outputfile="appendixa.md")

Thanks

[2021-12-14 10:02] #243 closed

[2021-12-14 14:19] #231 closed

[2021-12-14 14:19] #242 closed

[2021-12-14 15:24] #233 closed

[2021-12-15 18:11] shashanksinghfd opened #246 "Pypandoc is depedency of Pyspark = 2.2.2 and with todays change of python > 3 some of our some ancient pipelines started to break"
Heya guys,

Just looking for some suggestions from the community, to what they are doing. We have some ancient pipelines that are being migrated albeit slowly out of python 2 to python 3. Today's commit broke our build, and we were wondering if anyone else has the same issue or what they are doing as a stop-gap solution.

Commit Link : https://github.com/NicklasTegner/pypandoc/commit/9ee669801ec2b

[2021-12-15 21:21] krasinski opened #247 "Python 2.7 support dropped?"
hello, was the Python 2.7 support dropped?
`ERROR: Package u'pypandoc-1.7.0' requires a different Python: 2.7.18 not in '>=3,<4'`

[2021-12-15 21:33] NicklasTegner commented on #247
Not per the PyPi page. Let me check and get back to you.

[2021-12-15 21:33] NicklasTegner commented on #247
Forgot to add. Try with pypandoc = 1.7.1 and check if that fixes the issue

[2021-12-15 22:03] krasinski commented on #247
thank you for the quick response! we just forced the previous version but wanted to let you know

[2021-12-15 22:29] NicklasTegner commented on #247
So what version are you using now.
Do python 1.7.1 work?

[2021-12-15 22:29] NicklasTegner commented on #246
Hi.
In what way are they breaking. Do you have any error output in regards to PyPandoc?

[2021-12-15 22:42] krasinski commented on #247
1.6.4 works for us, but 1.7.0 doesn't, and 1.7.1 brings another error when trying to install that specific version:

[code]

[2021-12-15 22:46] NicklasTegner commented on #247
this should be fixed. Can you conform that pip install git+https://github.com/NicklasTegner/pypandoc.git works

[2021-12-15 22:53] krasinski commented on #247
it does:
[code]

so my guess is all automatic python 2.7 based builds requiring pypandoc should start working after that gets uploaded to PyPI

thank you for the quick reaction and the work you're doing here!

[2021-12-15 22:55] NicklasTegner commented on #247
Fantastic. This should be on PyPi within 10 minutes. If it doesn't work when getting pushed to PyPi feel free to let me know.
And if you find anything else, or have any feature requests, feel free to open another issue.

[2021-12-15 22:55] #247 closed

[2021-12-16 09:36] shashanksinghfd commented on #246
Thanks @NicklasTegner for replying.

**Issue**: Package u'pypandoc' requires a different Python: 2.7.17 not in '>=3,<4'
**Full traceback** :
[code]

[2021-12-16 11:09] NicklasTegner commented on #246
Hi.
The recent fix as a result of #247  which fixed python 2.7 support should have fixed this as welll.
Please confirm if you still get the above error when using pypandoc 1.7.2

[2021-12-16 12:02] shashanksinghfd commented on #246
@NicklasTegner , its downstream dependency of pyspark , so we can't directly change the version without forking pyspark itself. but thanks we might look into that too .

[2021-12-16 12:27] jankatins commented on #246
@shashanksinghfd You can probably pin the pypandoc dependency in your deployment script. Seems this hasn't happen for some reason in pyspark itself, when it was still used :-( (e.g. this is the commit which rips out pypandoc from spark: https://github.com/apache/spark/commit/bda0669110fcfce5279221d2b9c2986a3cc7d15a)

As a workaround on your side, it would probably be better to install pypandoc in

[2021-12-16 12:33] shashanksinghfd commented on #246
makes sense @jankatins : that's what we ended up going with. ( pinning pypandoc and corresponding pyspark version that has no issues )

thanks for the support @NicklasTegner @jankatins . Open source maintainers are heroes :)
Coffee/beer is on me if you guys find yourself in London/Edinburgh.

[2021-12-18 13:20] NicklasTegner commented on #246
hi @shashanksinghfd
The issues with python2 support (which if I read correctly is the issue here) should be resolved in pypandoc 1.7.2, which readded python2.7 as a supported version again.
Please let me know if it works :)

[2021-12-18 13:41] #155 closed

[2021-12-18 13:41] #125 closed

[2021-12-22 10:59] shashanksinghfd commented on #246
thanks, we ended up updating the spark package which also solved the issue for us. I WIll close this ticket for now.

[2021-12-22 10:59] #246 closed

[2021-12-29 00:40] #179 closed

[2022-01-14 15:20] simonv3 opened #248 "Possible to pass multiple files to `convert_file`"
At the command line this is okay:

[code]

but it looks like if I do the same with `pypandoc.convert_file('_posts/*.md', 'epub', outputfile="books/test.epub")` I get this error:

[code]

So I tried passing multiple files to the converter, listed individually:

[code]

which gives the same error.

Is there a way to pass multiple files to pandoc like on the command line? (I'm basically just using py

[2022-01-15 10:06] H0R5E opened #249 "Warnings issued on stderr are not reported"
First, thanks for this super-useful package.

I was having some trouble with missing images in a newly created `.docx` file, but pypandoc was not reporting anything, so I decided to run the same arguments through pandoc directly. Running directly I got useful `[WARNING]` output, but on `stderr` not `stdout` which is why pypandoc does not report it. See the example below:

[code]

Would it be agree

[2022-01-15 10:27] H0R5E commented on #249
Perhaps just even printing `stderr` if it is non-empty, with a quiet mode to suppress it, would match the solution in `_ensure_pandoc_path`, for instance.

[2022-01-15 14:58] NicklasTegner commented on #249
Hi. Thanks for reporting this.
I think the second option you provided, would be the best option here.
If you know how to implement it, feel free to go ahead, if not I'll probably get around to it at the end of the month :)

[2022-01-17 12:23] NicklasTegner commented on #248
I'll look into this. This would indeed be nice to have, but it would take some restructuring to accomplish.

[2022-01-17 12:30] NicklasTegner commented on #249
@H0R5E  would the idial solution here, have to have warnings (stderr) suppressed by default, or have them printed by default?

[2022-01-17 12:39] H0R5E commented on #249
@NicklasTegner, I think having `stderr` printed by default is more useful. It looks like (from [here](https://github.com/jgm/pandoc/issues/6628), for instance), output from writers is piped to `stderr`, so if you use the `--verbose` flag, pypandoc is going to suppress the output, which would be unexpected.

[2022-01-17 15:10] simonv3 commented on #248
For me there's no rush, I'm just sending the command straight to `subprocess.check_call` which is fine cause I'm the only one using the script atm.

[2022-01-26 11:13] #249 closed

[2022-03-03 18:23] mcm opened #251 "Set cwd for pandoc process"
I'm building an API based around pypandoc and would like to have pandoc executing with the working directory set to a one-time-use temp directory. Is there a currently supported way to do that? From what I can tell the answer is no, and if that's the case, would you be open to a PR adding a way to do so?

[2022-03-03 20:14] NicklasTegner commented on #251
I would be open for a pr with this, with an optional cworkdir flag.
But wouldn't it just be easier to do:

[code]

[2022-03-03 20:21] mcm commented on #251
I did think of that, however the API could be handling multiple conversions at any given time, and the os.chdir would negatively affect other parallel requests. I think it would be smoothest for a cworkdir flag to be passed into the cwd argument in Popen when pandoc is called.

I'll work up a PR for this for your review

[2022-03-04 05:23] mcm commented on #251
@NicklasTegner PR submitted. It's pretty straightforward, and the default behavior is unchanged by using `None` as the default.

Let me know if anything needs done differently.

[2022-03-16 23:15] #251 closed

[2022-03-17 08:45] parthea opened #253 "Unable to install pypandoc 1.7.3"
Hello,

When I install pypandoc==1.7.3, I receive 1.7.2. I found that `1.7.2` in `pyproject.toml` [here](https://github.com/NicklasTegner/pypandoc/blob/master/pyproject.toml#L3) doesn't match the version in `__init__.py` [here](https://github.com/NicklasTegner/pypandoc/blob/master/pypandoc/__init__.py#L18).

[code]

[code]

[2022-03-17 08:54] NicklasTegner commented on #253
hi. I see.
I've fixed the issue, and updated the release document, so this shouldn't happen again :)

[2022-03-17 08:56] #253 closed

[2022-03-18 17:25] NicklasTegner opened #255 "Python Typehints"
Write typehints in the code.

[2022-03-18 17:26] NicklasTegner opened #256 "Remove deprecated code"

[2022-03-19 00:36] #256 closed

[2022-03-21 15:06] #255 closed

[2022-03-21 19:03] NicklasTegner commented on #248
@simonv3  let me know if what I've implemented in #259  works for you.
Any feedback / suggestions etc

[2022-03-22 05:12] #248 closed

[2022-03-23 20:56] scottclowe opened #260 "Python 2.7 no longer supported"
The code base no longer supports Python 2.7.

In of itself, that's not such a bad thing because the sunset of Python 2.7 was two years ago. It's fine to drop support for Python 2.7 at this point.

However, it is a bit of an issue that the current release of pypandoc claims to support Python 2.7 when it does not. If pypandoc is not intended to support Python 2.7 any more, it needs to have the Pytho

[2022-03-23 22:00] NicklasTegner commented on #260
thanks so much for reporting this.
I agree with the hotfix from the 1.7.4 release idea.

Would you like to submit a pr for it?

[2022-03-25 10:49] scottclowe commented on #260
Glad to hear it!

I'm happy to implement the change, but where should the PR target? If this is a 1.7.5 hotfix forked from 1.7.4, it will be a single commit appended to the history after [28f7a3f](https://github.com/NicklasTegner/pypandoc/commit/28f7a3f3f8d4efb0e11c95ca7209dc8b858147c4). That commit should *not* be merged into master because it would undo python 3 functionality.

[2022-03-25 11:51] scottclowe commented on #260
Can you make a 1.7.x branch on https://github.com/NicklasTegner/pypandoc/ which is at commit [28f7a3f](https://github.com/NicklasTegner/pypandoc/commit/28f7a3f3f8d4efb0e11c95ca7209dc8b858147c4), and then I can issue the PR to target that?

[2022-03-25 22:55] NicklasTegner commented on #260
@scottclowe  here you go

https://github.com/NicklasTegner/pypandoc/tree/py27support

The branch is called "py27support"

[2022-03-27 08:52] Nigury opened #261 "issue with "--resource-path" being sent as "extra_args""
Hello,

First of all thank you for this awesome project.
I'm currently implementing an automation to convert "*.docx" to "*.html", with the inclusion of a custom CSS file.
When I execute the convertion, the process fails with pandoc not being able to find the CSS file. I'm passing the location of the CSS via the pandoc parameter ```--resource-path``` by using the ```extra_args``` variable.
I'm run

[2022-03-28 15:41] srpedroborges commented on #261
I fixed the issue locally, by doing the following change to method `_convert_input` of '__init__.py'

[code]

[2022-03-28 20:03] NicklasTegner commented on #261
hi @srpedroborges

Per the Python Subprocess documentation:

On POSIX, if args is a string, the string is interpreted as the name or path of the program to execute. However, this can only be done if not passing arguments to the program.

So I'm not sure that it could work across WIndows and Unix platforms.
Before I look into making changes to the code, can you try to wrap your resource path in quo

[2022-03-30 06:40] srpedroborges commented on #261
Hi @NicklasTegner
Thanks for the feedback.

As requested, I perform this test but it still fails.
I'll see if I'm able to perform the same conversion in Linux to validate if `args` as a `string` would be problematic.

[code]
[code]

[2022-04-02 01:58] NicklasTegner commented on #261
If not i'll see what I can do about it.

[2022-04-02 09:47] srpedroborges commented on #261
Hi @NicklasTegner,

So I did some testing in Linux, via WSL2, and here are my findings:

1. Using the ```" ".join(args)```, as you indicated above, doesn't work in Linux since python assumes the string is the path to the binary (not binary + arguments).

[code]

For windows, this could still be used as a "workaround", since python converts the subprocess args to a string for this platform.
I added

[2022-04-02 16:26] NicklasTegner commented on #260
@scottclowe

[2022-04-03 20:42] scottclowe commented on #260
Sorry, I was on holiday this week and didn't manage to get this sorted before I left. Done now!

[2022-04-04 19:03] NicklasTegner opened #264 "Remove Python2 compat code"
Now that python2 support will officially be removed in the new elease, there's no need to have the compat code anymore

[2022-04-04 19:31] #260 closed

[2022-04-06 09:59] MarkWieczorek opened #265 "support for osx-arm64 ?"
There currently is not a pypandoc package that works on the new macos machines with M1 chips (osx-arm64). I tried to add pypandoc to the automatic osx-arm64 migrator to generate one (https://github.com/conda-forge/pypandoc-feedstock/issues/16), but it appears that this package can't be automatically migrated for some unknown reason. I am not familiar enough with this repo to understand the problem

[2022-04-06 11:27] h5rdly opened #266 "Releases not shown on github"
Hi,

I'm excited to see that pypandoc gets updated.

However, the latest release shown here on github is `1.7.0` from Dec 2021, and I can't see what's new in the actual latest release (1.7.5).

Would it be possible to update the releases page?
https://github.com/NicklasTegner/pypandoc/releases

Thanks,
Eli

[2022-04-06 19:17] NicklasTegner commented on #266
hi @h5rdly

You can find the missing patches, here:

https://github.com/NicklasTegner/pypandoc/tags

[2022-04-06 19:45] NicklasTegner commented on #265
@MarkWieczorek
from [this issue](https://github.com/jgm/pandoc/issues/6960) it seems like there are available pandoc pandoc builds for the m1.
Can you try the folliwing:

* Install pypandoc with pip
* Try to install pandoc through pypandoc by importing it and running pypandoc.download_pandoc()

Please lety me know what result you have with the above, and if you get any error output from conda in g

[2022-04-06 20:50] MarkWieczorek commented on #265
Installing pypandoc with pip seemed to work ok (no errors).

However, the second part didn't work:
[code]

[2022-04-06 20:57] MarkWieczorek commented on #265
And here is the conda output
[code]

[2022-04-06 21:36] NicklasTegner commented on #265
and just to make sure. The result from pypandoc.download_pandoc() doesn't actually put pandoc in the "/Users/lunokhod/Applications/pandoc" folder?

[2022-04-07 08:20] MarkWieczorek commented on #265
It did put the pandoc executable in that folder, and the executable seems to work (`./pandoc --version` didn't fail...)

[2022-04-07 14:43] NicklasTegner commented on #265
That's interesting.
So it seems like it's not a m1 error. But as you pasted above, it seems to get a FileNotFoundError, which should be handled correctly, if pandoc citeproc isn't present...

I'll look into it

[2022-04-07 22:33] NicklasTegner commented on #265
@MarkWieczorek  the output from conda doesn't actually show what's wrong, just that it's failing.

From what I've gathered:

1. There are m1 builds available of pandoc, wich pypandoc are indeed downloading
2. The traceback in handle_darwin is expected

I'll try to see if I can add mac m1 to the ci here, before I say that this is an upstream issue.

[2022-04-08 00:20] NicklasTegner commented on #265
hey @MarkWieczorek  as you can see from the testing added in #267  it seems to be an anaconda issue, not so much a pypandoc issue.

[2022-04-08 08:42] MarkWieczorek commented on #265
I'm not sure how travis ci tests work with macos, but its possible that they are being run on intel macs.

[2022-04-08 16:32] burrussmp opened #268 "Is it possible for pypandoc to be removed from pyspark 2.4?"
Hello! Our team is encountering an error when installing pyspark 2.4.5 requiring pypandoc to be installed separately in our build.

[code]

Specs:
python version 3.7
OS Ubuntu 18.04-latest

Based on this commit: https://github.com/apache/spark/commit/bda0669110fcfce5279221d2b9c2986a3cc7d15a pypandoc was successfully removed from 3.0.0. Would it be possible to make a revision to 2.4.8 to also remov

[2022-04-08 16:33] #268 closed

[2022-04-08 17:13] NicklasTegner commented on #265
as you can see from [this link](https://docs.travis-ci.com/user/reference/osx/) I've set the travis build to be run on macOS 12.3, macOS 11.6 and macOS 10.15.7.
So form my understanding, since it's running macOS Big Sur, it should be running on m1 macs, right?

[2022-04-08 20:16] MarkWieczorek commented on #265
In "normal" times that would be ok. But, every 10 years apple decides to screw with us an make new hardware that runs on new chips that are incompatible with the old ones. Generally, this occurs 5 years before they come out with a new charging port for iphones.

The past 10 years, macs have used intel chips, but about a year or so ago they started selling macs that use their own "M1" chip. "Big su

[2022-04-08 22:28] NicklasTegner commented on #265
aha... I'll see if I can make it report if it's running on inten or m1 chips

[2022-04-08 22:44] NicklasTegner commented on #265
@MarkWieczorek  as it turns out, you were right.
While it's running Big Sur, it's actually still running on intel chipsets.
TravisCI doesn't at the time of writing support MacOS M1 machines, so I have no way of testing pypandoc on M1 architecture

[2022-04-16 11:13] Nigury commented on #261
Hi @NicklasTegner

After further debugging with the Python subprocess calls, I was able to identify what was going on.
There is no bug in the code.
The problem I experienced was due to mistake from my side:  passing 2 arguments as a single on, to ```pandoc_extra_arguments``` list.
More specifically this one: ```-c test.css```

[code]
After separating the arguments, all works fine now in both Linux

[2022-04-16 11:13] #261 closed

[2022-04-20 20:39] #266 closed

[2022-04-20 20:41] NicklasTegner commented on #265
So the error is, that you are getting a "FileNotFoundError" when trying to install pandoc through PyPandoc.
The interesting part it, we do check for "FileNotFoundError" so don't know why you are getting this.

[2022-04-22 07:16] MarkWieczorek commented on #265
I don't know how to fix this... sorry!

[2022-04-22 15:44] massoncl opened #269 "KeyError in _classify_pandoc_logging when the message format does not fit the assumptions"
Since #250, I have an issue with the _classify_pandoc_logging function : when the parsed message does not fit the expected format, the parsing can end in a KeyError. For example, [pandoc-include](https://github.com/DCsunset/pandoc-include) has a warning formatted like this:

`[Warn] included file not found: path_of_the_file`

`Warn` isn't in the dictionnary of expected log levels, which raises a K

[2022-04-26 20:33] chris-mcdo opened #270 "Unnecessary files included with pip install"
**Versions:** Ubuntu 20.04, python 3.9, pypandoc 1.7.5

Using `pip install pypandoc` creates the following files in my site-packages directory:

[code]

In other words, quite a few files are outside the package directories (`pypandoc/*` and `pypandoc-*.dist-info`).

This creates a few problems:

* The `examples/` directory looks like an installed package.
* The `tests.py` file in `site-packages` b

[2022-04-26 21:08] NicklasTegner commented on #270
Hi.
Thanks for reporting this.
I was aware of the pandoc executable that had sneaked it's way into a binary dist of pypandoc.
However, I don't know what's causing the other files to be put there.
I'll investigate, and get back to you.

[2022-04-27 22:26] NicklasTegner commented on #269
hi @massoncl
thanks for catching this.

Which one would you say would be the prefered solution:

* Just spith it out, and if so on what level.
* Try to classify these extra messages (more messages like this might pop up in the future)

[2022-04-28 12:12] massoncl commented on #269
I'm not very familiar with this codebase, but I'd say both solutions can be implemented: a classification that tries to include all the message types you're aware of, with an additional fallback case to handle new cases. In the fallback, I'd say that re-logging the messages as "warning" would be best.

[2022-05-03 09:46] #269 closed

[2022-05-05 20:07] asor12 opened #273 "No attribute 'convert_file'"
Hi, I installed pypandoc for the first time and am getting this error:

   output = pypandoc.convert_file('file.docx', 'plain', outputfile="file.txt")
AttributeError: module 'pypandoc' has no attribute 'convert_file'

I'm not sure why it wouldn't have that attribute?

[2022-05-10 08:17] NicklasTegner commented on #270
Hi again.
In future versions the test, readme and examples will no longer be included in the pip installables

[2022-05-10 21:19] #270 closed

[2022-05-10 21:20] NicklasTegner commented on #273
Hi.

Without further information, I'm unable to reproduce this.

If you have more information. Feel free to provide them.

[2022-05-10 21:20] #273 closed

[2022-05-10 21:21] #264 closed

[2022-05-11 04:42] shmpwk opened #275 "deleting `convert` function affects the depending packages"
Deleting `convert` function affects the depending packages.
I write this issue for those who have similar issue.

Related issue
https://github.com/man-group/pytest-plugins/issues/87
https://github.com/autowarefoundation/autoware/discussions/286

[2022-05-11 04:43] #275 closed

[2022-05-11 05:20] kloczek opened #276 "testing fails on unix where python is not available (but only python3)"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-05-11 14:16] NicklasTegner commented on #275
thanks for this. I've left a comment on the issues you linked.

[2022-05-11 19:18] NicklasTegner commented on #276
Ohh. The reason for it, is because examples, documentation files and tests has been removed from the pypi release from version 1.8, because of some conflicting names, when installing

[2022-05-11 20:02] kloczek commented on #276
I'm not using pypu sdist but tar atogenerated from git tag. https://github.com/NicklasTegner/pypandoc/archive/refs/tags/v1.8.tar.gz

[2022-05-11 20:59] NicklasTegner commented on #276
It's because when building, from the pyproject.toml file.
In 1.8 we have removed the test and other files.

I would suggest download and extracting the tar.gz, then running the tests, and lastly creating the wheel

[2022-05-11 21:03] kloczek commented on #276
I see insise tar ball tests.py.

[2022-05-12 00:06] NicklasTegner commented on #276
yes but they aren't included when you build. When the whl gets produced they aren't included.

[2022-05-12 08:34] keszybz opened #277 "test_basic_conversion_from_file_pattern fails"
[code]

Maybe I'm misunderstanding what the test does, but "making a release" doesn't appear in any docs in the repo…

[2022-05-12 08:45] kloczek commented on #276
You can check what is inside autogenerated from git tag tar ball https://github.com/NicklasTegner/pypandoc/tree/v1.8

[2022-05-12 11:48] NicklasTegner commented on #276
I know, and in the tarball they are, but  my guess is, that when you run the build command, they aren't included, just like when I run python setup.py sdist, because of a change for version 1.8.

My suggestion would be to run pytest before building.

[2022-05-14 02:59] felixonmars opened #278 "Tests failed with pandoc built without embed_data_files"
According to https://github.com/jgm/pandoc/issues/5045 pandoc built without embed_data_files won't be able to read its data file with sandbox enabled.

The option embed_data_files is defaulting to false: https://github.com/jgm/pandoc/blob/697aea371717f3dab5484227fcd8025bbd45c70b/pandoc.cabal#L415

This results in the following test failures:

[code]

[2022-05-14 15:37] NicklasTegner commented on #278
interesting. Was this introduced recently, cause as you can see, all tests seems to be passing on the CI?

[2022-05-15 02:58] felixonmars commented on #278
I guess the binary pypandoc downloads has the flag on to ease the usage. Unfortunately it's often not enabled in a distribution packaged pandoc.

[2022-05-20 06:24] AbdealiJK opened #279 "Creating a pypandoc-binary"
I have been using pypandoc for a while now, and I always create a .whl with pandoc present in it as it's much easier to use.

It would be great if this package can hev:
 - pypandoc
 - pypandoc-binary
packages in pypi.

Somewhat like how the pysqlite3 project does it:
https://pypi.org/project/pysqlite3-binary/
https://pypi.org/project/pysqlite3/

That would help a lot for folks who just want to get

[2022-05-20 07:05] AbdealiJK commented on #198
@NicklasTegner Let me know if I can create a PR for this and any specific testing you may want me to do here
I'm happy to contribute

[2022-05-20 07:08] AbdealiJK commented on #198
Just a FYI - I now see that the package on pypi does not need `wheel` (I assume that was created using the poetry stuff)
But the setup.py still says it required `wheel` - which is causing confusion in my build pipelines because I am testing with both the plain python version and also the one with the `download_pandoc` version.

Have also raised https://github.com/NicklasTegner/pypandoc/issues/279

[2022-05-20 14:20] #198 closed

[2022-05-20 14:22] NicklasTegner commented on #279
This is a good idea.
I see 2 ways to do this:

* Do it you suggested, with 2 different versions
* Or by using extras so it becomes pip install pypandoc[binary] or poetry add pypandoc -E binary (or binaries)

What do you think?

[2022-05-20 14:37] AbdealiJK commented on #279
I don't mind either.
But I'm not sure how the extras one would work.
As my understanding is that extras can only add additional "extra_requires" which adds extra dependencies.

Atleast I'm not aware if it can also have extra files.
So maybe for both cases a pypandoc-binary could be required which is then added to a extra_requires ?

[2022-05-20 14:55] NicklasTegner commented on #279
I like the pypandoc_binaries option then.

The following would need to be done (at least)

* Make setup.py and setup_binaries.py file.
* This would also give us the chance to clean up the regular setup.py file, since download_pandoc wouldn't be required in the smaller version.
* Update the CI scripts

Do let me know if you think I've missed something

[2022-05-23 00:51] #279 closed

[2022-05-23 08:41] sternenseemann commented on #277
It is in `release.md`, but it is missing from the PyPi release tarball and the tests fail when using that as a starting point.

[2022-06-07 07:13] futureflsl opened #283 "pypandoc cannot convet https url without .html"
I use pandoc can convert https://XXXXX,url has not suffix .html,but I use this library it cannot work
    raise RuntimeError('Missing format!')
RuntimeError: Missing format!

[2022-06-07 07:51] NicklasTegner commented on #283
Hi there.
I would suggest specifying the input format manually

[2022-06-17 19:26] RensDimmendaal opened #285 "Feature request: compatibility with pathlib.Path"
Hey there, thanks for the great project!

I'm using it now and I run into the issue that the project is not compatible with `pathlib.Path` ([docs](https://docs.python.org/3/library/pathlib.html)).

When I run this:
[code]

I get this back:
[code]

I'm pretty sure it's because the pypandoc checks if fpath is either a string or a list. But it'd be nice if it would also accept `pathlib.Path` objects.

[2022-06-17 20:51] NicklasTegner commented on #285
Hi there.

Yes I'm very much open to this.
I think the solution here, is to just to check if it's a pathfile object and if it is, to convert it to a string.

[2022-06-21 08:47] adiptamartulandi opened #286 "Cannot Read Math Equations from Docx to HTML"
hello, i have issues that pypandoc cannot read math equations (No. 1) but after iam enter the equations (No. 2) pypandoc suddenly can read the math equations. anyone can help with this issues ?

here is the sample docs
[Penyisihan SMA Matematika copy.docx](https://github.com/NicklasTegner/pypandoc/files/8947264/Penyisihan.SMA.Matematika.copy.docx)

here is my codes
`html5_content = pypandoc.conver

[2022-06-22 05:26] dlech opened #287 "Add 64-bit pandoc_binary binary wheel for Windows"
The Windows `pandoc_binary` `win32` binary wheel will refuse to install if you are running 64-bit Python.

[2022-06-28 03:25] antiskid56 opened #288 "Relative Image Paths do not work for docx or epub"
In converting a markdown file to docx or epub, I run into PandocResourceNotFound for images with a relative path.

I can duplicate this issue with pandoc itself, by running pandoc from a directory other than the one where the input markdown file is.

With pandoc itself, I can solve the problem, by specifying a nondefault extension. The from file type changes from markdown to markdown+rebase_relati

[2022-06-28 19:35] NicklasTegner commented on #288
Hi there.
When setting the input or output format with pypandoc, you can also set extensions like you did in your example

[2022-07-16 15:16] hey-thanks opened #290 "Reduce the number of flake8 errors/warnings"
Running flake8 currently causes 200+ errors/warnings to be produced, mostly to do with whitespace and line length. If such an improvement is welcome, I'd be more than happy to submit a PR that improves this situation.

[2022-07-18 10:35] NicklasTegner commented on #290
this is welcome.
I've been meaning to add black and flake8 as precommit hooks, for the longest time.

Something like [this describes](https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/)

and of course add it to the ci pipeline

[2022-07-23 07:05] #285 closed

[2022-08-17 01:46] tmc opened #291 "pandoc-citeproc not present in recent pandoc releases"
As of pandoc 2.11, pandoc-citeproc is not distributed separately. This causes the download_pandoc helper to fail.

[2022-08-25 19:17] TheQuinbox commented on #290
I'd also recommend adding Isort, to sort your imports.

[2022-08-30 15:41] psychemedia opened #292 "Sorting the order of multiple globbed files"
PR https://github.com/JessicaTegner/pypandoc/issues/248 supports the ability to pass multiple files, but I notice that if I pass a glob pattern (eg `*.html`) to combine multiple files into a single PDF, for example:

- in the command line version of pandoc, the docs are passed in alphabetical sort order;
- in pypandoc, the files are parsed in an arbitrary order.

If a glob pattern is passed, eg to

[2022-09-09 07:18] adityaQure opened #293 "Platform architecture of ARM Linux system can be aarch64"
https://github.com/JessicaTegner/pypandoc/blob/4becb4e6734036e7eee92d180ea8e7acc7333e6f/pypandoc/pandoc_download.py#L52

[code]

ARM 64 linux is also available here: https://github.com/jgm/pandoc/releases

It's a small change and will be willing to send a PR. Thanks in advance.

[2022-09-09 12:53] JessicaTegner commented on #293
@adityaQure  I would love a pr fixing this. Feel free to work on it :)

[2022-09-16 08:14] lmende opened #294 "pypandoc > 1.6.4 breaks relative media links"
with:
[WARNING] Could not fetch resource ./plantuml/951024a08973cc301dbab7d20b52fd3a.svg: PandocResourceNotFound "./plantuml/951024a08973cc301dbab7d20b52fd3a.svg"

## Steps to reproduce:

1. string with html_content:

[code]
2. convert with

[code]

produces docx w/o image. Conversion with pandoc on cmd line works.

[2022-09-19 21:20] kevalmorabia97 opened #295 "list index out of range in `_get_pandoc_urls`"
[code]

Seems like the logic to load the `releases/` page has an empty list of URLs since it takes some time to load the URLs. This needs to be fixed ASAP as it breaks the use of `pypandoc` in all existing pipelines.

[2022-09-20 09:48] JessicaTegner commented on #295
THanks for catching this.
It seems that GitHub has changed, how the release page are loaded.

I have a fix that I'm working on, that involves using api.github.com, that should be ready later.

The pr will be up later, for everyone to comment on before merging

[2022-09-22 07:29] #295 closed

[2022-09-22 17:48] davidbgk commented on #295
Without using the API, I found that you can get direct links via that kind of URLs:

https://github.com/jgm/pandoc/releases/expanded_assets/2.19.2

Hope it helps! And I'll happily review a PR given that it breaks my current CI workflow :)

[2022-09-23 08:39] JessicaTegner commented on #294
@lmende  can you confirm that you have set the "--resource-path" options?

In addition, I can't seem to figure out, why specifically pypandoc > 1.6.4 would break this.

[2022-09-23 08:44] #291 closed

[2022-09-28 09:24] hey24sheep commented on #293
@JessicaTegner Hi, I want to contribute to this. I have created a pull request as well to save your time.

[2022-09-28 09:30] hey24sheep commented on #292
@JessicaTegner I have added a fix for this in my PR. Can I be assigned to this. Let me know if I have to edit my code, thanks.

[2022-09-28 17:11] kloczek commented on #276
Just tested 1.9 and looks like new two units are failing
<details>

[code]
</details>

[2022-09-28 17:12] kloczek commented on #276
On typical rpm package build test suite is always executed after builds and install.

[2022-09-28 17:24] JessicaTegner commented on #276
So for your errors, it seems that in both instances, it can't find the  "python" executable when trying to use a python filter.
What do you say would be the best solutions? Trying "python3" before "python", since we actually want py3, or the other way around, where we try python3, if regular "python" executable couldn't be found?

[2022-09-29 04:42] kloczek commented on #276
Instead hardcoding "python" executable name use `sys.executable`.

[2022-09-29 06:39] JessicaTegner commented on #276
We are not hardcoding the name per say. THe error is from the shibang lines when we test with a python filter.

[2022-09-29 12:57] kloczek commented on #276
Than instead hardcode python executable in shebang line execute script as `sys.executable` param.

[2022-10-01 06:55] kloczek commented on #276
I've added tree commits to my build procedure:
[code]
and looks like issue still is present
<details
[code]
</details>

[2022-10-01 06:57] kloczek commented on #276
Additionally after --deselect failing units I see some warnings:
[code]

[2022-10-01 09:11] JessicaTegner commented on #276
@kloczek  can you try the [latest development snapshot](https://github.com/JessicaTegner/pypandoc/releases/tag/latest), that should fix the failing test cases.

[2022-10-01 11:28] kloczek commented on #276
After replace last patch with:
[code]
pytest still fails ..
<details>

[code]
</details>

[2022-10-02 02:04] JessicaTegner commented on #276
well we are using sys.executable to run the python tests now, so I don't see how it could fail...

[2022-10-03 02:35] hey24sheep commented on #293
Hi, can you assign this to me and check my PR. The other PR didn't count towards my hacktoberfest contribution.

[2022-10-03 06:11] JessicaTegner commented on #293
@hey24sheep  after doing some investigation, I figured out why.
I turns out that hacktoberfest only counts prs made after the 1st.

You are more than welcome to open more prs, as they should be counted from now on out :)

[2022-10-03 06:16] hey24sheep commented on #293
@JessicaTegner :/ sad. So, can I close my PR and re-create it?

[2022-10-03 07:25] JessicaTegner commented on #293
@hey24sheep  INDEED YOU CAN :)

[2022-10-11 06:06] #293 closed

[2022-10-14 18:28] EndPain opened #305 "How do I add information about the author, cover, etc. of an .epub file?"
Hello，First of all, thank you for making a great project, I'm using it and want to convert .md markdown files to .epub files, but I want to additionally add author and cover image information to .epub files, is there a way to operate it? Please answer me!

[2022-10-15 10:52] JessicaTegner commented on #305
Hi there.

To find your answer, you'll have to look into the pandoc user guide, as this is only a wrapper.
As example, I looked in the guide, and found the following:

Use the specified image as the EPUB cover. It is recommended that the image be less than 1000px in width and height. Note that in a Markdown source document you can also specify cover-image in a YAML metadata block (see EPUB Metadat

[2022-10-15 10:55] EndPain commented on #305
Thank you very much

[2022-10-15 10:55] #305 closed

[2022-10-23 15:09] alhirzel opened #306 "Crash when specifying extra_args incorrectly"
I noticed an issue when using `pypandoc` for the first time. I was able to work through it, but I want to report it as an issue because the behavior was surprising. MNWE:

[code]

This gives the following result:

[code]

I was able to identify a fix for this issue after reviewing the README more carefully (namely, the `extra_args` argument must be an array of strings).

Versions: pandoc 2.19.2, p

[2022-10-23 18:43] JessicaTegner commented on #306
This was also reported in #197  and a pr was made in #199  but weren't for some reason merged. I'll see to it being fixed asap :)

[2022-10-27 11:10] AbdealiJK opened #308 "Adding pypandoc-binary for linux"
Hi, following up from https://github.com/JessicaTegner/pypandoc/issues/279

I was just installing pypandoc in a linux setup and thought I could use `pypandoc-binary`
but then got the error: `ERROR: Could not find a version that satisfies the requirement pypandoc-binary (from versions: none)`
And noticed that wheels for manylinux are not present

Was wondering if there was any reason not to add lin

[2022-10-27 12:45] JessicaTegner commented on #308
@AbdealiJK  thanks for opening this.

Since I don't know that much about linux, I had a hard time figuring out a way to make a manylinux binary that included pandoc, since pandoc comes in both dep and tar.gz options, and arm and amd.

If you have a suggestion, I would be more than happy to take another look at it :)

[2022-10-27 13:25] AbdealiJK commented on #308
Hi @JessicaTegner
I see - I can help out with Linux if you like.

The steps for Linux involve:
1. Starting a docker container using the manylinuz docker image
2. Building the wheel inside the docker
3. Running 'auditwheel' to repair the wheel and make it manylinux compatible
4. Finally uploading this using twine with your pypi credentials

It's documented at: https://github.com/pypa/manylinux

If

[2022-10-27 15:59] JessicaTegner commented on #308
@AbdealiJK If you look here https://github.com/JessicaTegner/pypandoc/actions/runs/3338893037

This is the latest run I have tried to implemented this with.
Basically from your steps, as you can see in the workflow  we'll just have to:

* Start a docker container and build the wheel.
* Upload the artifacts to GitHub Actions.

Then the next couple jobs, will take care of publishing to gh releases a

[2022-10-28 07:15] AbdealiJK commented on #308
@JessicaTegner That's awesome. Considering you already have the entire CI setup done up with github actions - I think we can just use the `cibuildwheel` tool's github action to generate this.

I have created a PR - https://github.com/JessicaTegner/pypandoc/pull/309

I found that there are 2 build systems in pypandoc:
 - poetry is configured in pyproject.toml
 - setup.py and setup_binary.py use set

[2022-10-28 13:14] AbdealiJK commented on #308
@JessicaTegner One question though before you do a release - you're awate that there is some issue with pandoc-citeproc when the wheels are getting built ?

[2022-10-28 13:21] JessicaTegner commented on #308
@AbdealiJK  that's because since (I think pandoc 2.10) pandoc citeproc has been bundled into the main pandoc executable.
Maybe it would be a good idea to fix that with a pretty error message, or something like that.
Nothing is really going wrong, it's just because it can't find citeproc, which is expected.

[2022-10-28 13:31] JessicaTegner commented on #308
Just to clarify. This is not a wheel issues...
This isn't really an error at all.

I looked into it, and it's because we use "logger.exception" to print our error message, which results in the stack trace to be printed automatically. A solution to this, would be to change all "logger.exception" in the various platform handlers to warning level instead.

[2022-10-28 14:01] JessicaTegner commented on #308
With #311  out of the way, everything should be done.
@AbdealiJK  you have no further comments, I'll make a new release

[2022-10-28 14:10] AbdealiJK commented on #308
Im good with the changes for wheels :+1 Thanks
I was looking through the source and was trying to do some minor cleanups
Mainly to drop old code from py2 (As we now have py3.6+)
It is not required in a release though ... So, we can go ahead with the current wheels publishing

I will create some PRs for the other cleanups so you can take a look ina while

[2022-10-28 14:12] JessicaTegner commented on #308
Sounds good. Thanks for all your contributions

[2022-10-28 15:24] JessicaTegner commented on #308
It seems I spoke too soon @AbdealiJK

take a look at this run: https://github.com/JessicaTegner/pypandoc/actions/runs/3346455236
And this run: https://github.com/JessicaTegner/pypandoc/actions/runs/3346157814

It seems it refuses to even start the release job at all. Can you take a look at this perhaps?

[2022-10-28 15:36] AbdealiJK commented on #308
Checking

[2022-10-28 16:02] AbdealiJK commented on #308
Created https://github.com/JessicaTegner/pypandoc/pull/313 which I THINK will solve the issue.
I am not very familiar with github actions - so it's based on the documentation I have rea about github actions.

I believe the conditions at https://github.com/JessicaTegner/pypandoc/commit/ad520d1bca40f6bf1ad3d77f357068c326e8c45c#diff-944291df2c9c06359d37cc8833d182d705c9e8c3108e7cfe132d61a06e9133ddR73

[2022-10-30 00:17] AbdealiJK commented on #287
This ticket can be closed now.
We have win64 wheels in pypandoc 1.10

[2022-10-30 00:18] AbdealiJK commented on #308
Closing as Linux 64bit wheels are present in pypandoc-binary 1.10
And pandoc does not have releases for Linux 32bit - so pypandoc-binary also does not have wheels for it

[2022-10-30 00:18] #308 closed

[2022-10-30 11:10] #287 closed

[2022-11-02 17:18] Kreby opened #315 "Missing images during file conversion"
This issue is similar to #294 but it looks like progress on that has stalled and my use case is slightly different as I am using the rebase_relative_paths extension.  I've tried a number of different combinations of  changing the working directory and providing a resource path but no matter what I can't get pypandoc to convert a document with images.  Maybe I'm missing something but  the document

[2022-11-29 07:58] saumcor opened #316 "Windows html to docx fails to embed images in the docx file"
I have an html file which links to an image in the same folder, when converting from html to docx on windows it throws the error `[WARNING] Could not fetch resource test.png: PandocResourceNotFound "test.png"`

`pypandoc-binary==1.10`

html file:
[code]

python script
[code]

output of `python test.py`:
`[WARNING] Could not fetch resource test.png: PandocResourceNotFound "test.png"`

[2022-11-29 08:14] JessicaTegner commented on #316
hi @saumcor
Have you tried setting the pandocs data directory, so pandoc knows where to look for the image files?

[2022-11-29 09:25] saumcor commented on #316
Hey @JessicaTegner
I tried the data-dir and the resource-path(independently) as well as follows but still did not embed the image and showed the same warning

[code]